<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.lemon.monitor.dao.IAutomatedProductionRegistrationDao" >

    <resultMap id="BaseResultMap" type="com.cmpay.lemon.monitor.entity.AutomatedProductionRegistrationDO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="proNumber" property="pronumber" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="env" property="env" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="creat_time" property="creatTime" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, proNumber, status, env, remark, creat_time
    </sql>

    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from t_automatic_production_register
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="delete" parameterType="java.lang.Integer" >
        delete from t_automatic_production_register
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.cmpay.lemon.monitor.entity.AutomatedProductionRegistrationDO" >
        insert into t_automatic_production_register
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="pronumber != null" >
                proNumber,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="env != null" >
                env,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="creatTime != null" >
                creat_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="pronumber != null" >
                #{pronumber,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="env != null" >
                #{env,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="creatTime != null" >
                #{creatTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.cmpay.lemon.monitor.entity.AutomatedProductionRegistrationDO" >
        update t_automatic_production_register
        <set >
            <if test="pronumber != null" >
                proNumber = #{pronumber,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="env != null" >
                env = #{env,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="creatTime != null" >
                creat_time = #{creatTime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="find" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.AutomatedProductionRegistrationDO" >
        select 
        <include refid="Base_Column_List" />
        from t_automatic_production_register
        <where >
            <if test="id != null" >
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="pronumber != null" >
                and proNumber = #{pronumber,jdbcType=VARCHAR}
            </if>
            <if test="status != null" >
                and status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="env != null" >
                and env = #{env,jdbcType=VARCHAR}
            </if>
            <if test="remark != null" >
                and remark = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="creatTime != null" >
                and creat_time = #{creatTime,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>