<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.lemon.monitor.dao.IDefectDetailsExtDao" >

    <resultMap id="BaseResultMap" type="com.cmpay.lemon.monitor.entity.DefectDetailsDO" >
        <id column="jire_key" property="jireKey" jdbcType="VARCHAR" />
        <result column="req_no" property="reqNo" jdbcType="VARCHAR" />
        <result column="defect_name" property="defectName" jdbcType="VARCHAR" />
        <result column="epic_key" property="epicKey" jdbcType="VARCHAR" />
        <result column="defect_type" property="defectType" jdbcType="VARCHAR" />
        <result column="defect_status" property="defectStatus" jdbcType="VARCHAR" />
        <result column="defect_registrant" property="defectRegistrant" jdbcType="VARCHAR" />
        <result column="defects_department" property="defectsDepartment" jdbcType="VARCHAR" />
        <result column="registration_date" property="registrationDate" jdbcType="VARCHAR" />
        <result column="defect_details" property="defectDetails" jdbcType="VARCHAR" />
        <result column="assignee" property="assignee" jdbcType="VARCHAR" />
        <result column="test_number" property="testNumber" jdbcType="INTEGER" />
        <result column="security_level" property="securityLevel" jdbcType="VARCHAR" />
        <result column="product_line" property="productLine" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        jire_key, req_no, defect_name, epic_key, defect_type, defect_status, defect_registrant,
        defects_department, registration_date, defect_details, assignee, test_number, security_level, product_line
    </sql>

    <select id="findNotCompleted" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.DefectDetailsDO" >
        select
        <include refid="Base_Column_List" />
        from t_defect_details
        <where >
            defect_status not in ('完成','关闭','问题冻结')
            <if test="jireKey != null" >
                and jire_key = #{jireKey,jdbcType=VARCHAR}
            </if>
            <if test="reqNo != null" >
                and req_no = #{reqNo,jdbcType=VARCHAR}
            </if>
            <if test="defectName != null" >
                and defect_name = #{defectName,jdbcType=VARCHAR}
            </if>
            <if test="epicKey != null" >
                and epic_key = #{epicKey,jdbcType=VARCHAR}
            </if>
            <if test="defectType != null" >
                and defect_type = #{defectType,jdbcType=VARCHAR}
            </if>
            <if test="defectRegistrant != null" >
                and defect_registrant = #{defectRegistrant,jdbcType=VARCHAR}
            </if>
            <if test="defectsDepartment != null" >
                and defects_department = #{defectsDepartment,jdbcType=VARCHAR}
            </if>
            <if test="registrationDate != null" >
                and registration_date = #{registrationDate,jdbcType=VARCHAR}
            </if>
            <if test="defectDetails != null" >
                and defect_details = #{defectDetails,jdbcType=VARCHAR}
            </if>
            <if test="assignee != null" >
                and assignee = #{assignee,jdbcType=VARCHAR}
            </if>
            <if test="testNumber != null" >
                and test_number = #{testNumber,jdbcType=INTEGER}
            </if>
            <if test="productLine != null" >
                and product_line = #{productLine,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="findList" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.DefectDetailsDO" >
        select
        <include refid="Base_Column_List" />
        from t_defect_details
        <where >
            ( defect_type != '无效问题' or defect_type is null )
            <if test="jireKey != null" >
                and jire_key = #{jireKey,jdbcType=VARCHAR}
            </if>
            <if test="reqNo != null" >
                and req_no = #{reqNo,jdbcType=VARCHAR}
            </if>
            <if test="epicKey != null" >
                and epic_key = #{epicKey,jdbcType=VARCHAR}
            </if>
            <if test="defectType != null" >
                and defect_type = #{defectType,jdbcType=VARCHAR}
            </if>
            <if test="defectStatus != null" >
                and defect_status = #{defectStatus,jdbcType=VARCHAR}
            </if>
            <if test="defectRegistrant != null" >
                and defect_registrant = #{defectRegistrant,jdbcType=VARCHAR}
            </if>
            <if test="defectsDepartment != null and defectsDepartment !='产品测试团队'" >
                and defects_department = #{defectsDepartment,jdbcType=VARCHAR}
            </if>
            <if test="defectsDepartment != null and defectsDepartment =='产品测试团队'" >
                and (defects_department = #{defectsDepartment,jdbcType=VARCHAR} or (ISNULL(defects_department) or defects_department = '') )
            </if>
            <if test="registrationDate != null" >
                and registration_date LIKE CONCAT('%',#{registrationDate},'%')
            </if>

            <if test="defectDetails != null" >
                and defect_details = #{defectDetails,jdbcType=VARCHAR}
            </if>
            <if test="assignee != null" >
                and assignee = #{assignee,jdbcType=VARCHAR}
            </if>
            <if test="testNumber != null" >
                and test_number = #{testNumber,jdbcType=VARCHAR}
            </if>
            <if test="productLine != null" >
                and product_line = #{productLine,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="findValidList" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.DefectDetailsDO" >
        select
        <include refid="Base_Column_List" />
        from t_defect_details
        <where >
            ( defect_type != '无效问题' or defect_type is null )
            <if test="jireKey != null" >
                and jire_key = #{jireKey,jdbcType=VARCHAR}
            </if>
            <if test="reqNo != null" >
                and req_no = #{reqNo,jdbcType=VARCHAR}
            </if>
            <if test="epicKey != null" >
                and epic_key = #{epicKey,jdbcType=VARCHAR}
            </if>
            <if test="defectType != null" >
                and defect_type = #{defectType,jdbcType=VARCHAR}
            </if>
            <if test="defectStatus != null" >
                and defect_status = #{defectStatus,jdbcType=VARCHAR}
            </if>
            <if test="defectRegistrant != null" >
                and defect_registrant = #{defectRegistrant,jdbcType=VARCHAR}
            </if>
            <if test="defectsDepartment != null and defectsDepartment !='产品测试团队'" >
                and defects_department = #{defectsDepartment,jdbcType=VARCHAR}
            </if>
            <if test="defectsDepartment != null and defectsDepartment =='产品测试团队'" >
                and (defects_department = #{defectsDepartment,jdbcType=VARCHAR} or (ISNULL(defects_department) or defects_department = '') )
            </if>
            <if test="registrationDate != null" >
                and registration_date LIKE CONCAT('%',#{registrationDate},'%')
            </if>

            <if test="defectDetails != null" >
                and defect_details = #{defectDetails,jdbcType=VARCHAR}
            </if>
            <if test="assignee != null" >
                and assignee = #{assignee,jdbcType=VARCHAR}
            </if>
            <if test="testNumber != null" >
                and test_number = #{testNumber,jdbcType=VARCHAR}
            </if>
            <if test="productLine != null" >
                and product_line = #{productLine,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="findWeekList" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.DefectDetailsDO" >
        select
        <include refid="Base_Column_List" />
        from t_defect_details
        <where >
            ( defect_type != '无效问题' or defect_type is null )
            <if test="jireKey != null" >
                and jire_key = #{jireKey,jdbcType=VARCHAR}
            </if>
            <if test="reqNo != null" >
                and req_no = #{reqNo,jdbcType=VARCHAR}
            </if>
            <if test="epicKey != null" >
                and epic_key = #{epicKey,jdbcType=VARCHAR}
            </if>
            <if test="defectType != null" >
                and defect_type = #{defectType,jdbcType=VARCHAR}
            </if>
            <if test="defectStatus != null" >
                and defect_status = #{defectStatus,jdbcType=VARCHAR}
            </if>
            <if test="defectRegistrant != null" >
                and defect_registrant = #{defectRegistrant,jdbcType=VARCHAR}
            </if>
            <if test="defectsDepartment != null  and defectsDepartment !='产品测试团队'" >
                and defects_department = #{defectsDepartment,jdbcType=VARCHAR}
            </if>
            <if test="defectsDepartment != null and defectsDepartment =='产品测试团队'" >
                and ( defects_department = #{defectsDepartment,jdbcType=VARCHAR} or (ISNULL(defects_department) or defects_department = '') )
            </if>
            <if test="registrationDate != null" >
                and YEARWEEK(date_format(registration_date,'%Y-%m-%d')) = YEARWEEK(#{registrationDate,jdbcType=VARCHAR})
            </if>
            <if test="defectDetails != null" >
                and defect_details = #{defectDetails,jdbcType=VARCHAR}
            </if>
            <if test="assignee != null" >
                and assignee = #{assignee,jdbcType=VARCHAR}
            </if>
            <if test="testNumber != null" >
                and test_number = #{testNumber,jdbcType=VARCHAR}
            </if>
            <if test="productLine != null" >
                and product_line = #{productLine,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="findByTime" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.DefectDetailsDO" >
        select
        <include refid="Base_Column_List" />
        from t_defect_details
        <where >
            ( defect_type != '无效问题' or defect_type is null )
            <if test="jireKey != null" >
                and jire_key = #{jireKey,jdbcType=VARCHAR}
            </if>
            <if test="reqNo != null" >
                and req_no = #{reqNo,jdbcType=VARCHAR}
            </if>
            <if test="defectName != null" >
                and defect_name = #{defectName,jdbcType=VARCHAR}
            </if>
            <if test="epicKey != null" >
                and epic_key = #{epicKey,jdbcType=VARCHAR}
            </if>
            <if test="defectType != null" >
                and defect_type = #{defectType,jdbcType=VARCHAR}
            </if>
            <if test="defectStatus != null" >
                and defect_status = #{defectStatus,jdbcType=VARCHAR}
            </if>
            <if test="defectRegistrant != null" >
                and defect_registrant = #{defectRegistrant,jdbcType=VARCHAR}
            </if>
            <if test="defectsDepartment != null" >
                and defects_department = #{defectsDepartment,jdbcType=VARCHAR}
            </if>
            <if test="defectDetails != null" >
                and defect_details = #{defectDetails,jdbcType=VARCHAR}
            </if>
            <if test="assignee != null" >
                and assignee = #{assignee,jdbcType=VARCHAR}
            </if>
            <if test="securityLevel != null" >
                and security_level = #{securityLevel,jdbcType=VARCHAR}
            </if>
            <if test="productLine != null" >
                and product_line = #{productLine,jdbcType=VARCHAR}
            </if>
            <if test="startTime != null and endTime != null" >
                and registration_date between #{startTime,jdbcType=DATE} and #{endTime,jdbcType=DATE}
            </if>
        </where>
    </select>

    <select id="findUnfinishedDefects" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.DefectDetailsDO" >
        select
        <include refid="Base_Column_List" />
        from t_defect_details
        <where >
            defect_status not in ('关闭','完成')
            <if test="jireKey != null" >
                and jire_key = #{jireKey,jdbcType=VARCHAR}
            </if>
            <if test="reqNo != null" >
                and req_no = #{reqNo,jdbcType=VARCHAR}
            </if>
            <if test="defectName != null" >
                and defect_name = #{defectName,jdbcType=VARCHAR}
            </if>
            <if test="epicKey != null" >
                and epic_key = #{epicKey,jdbcType=VARCHAR}
            </if>
            <if test="defectType != null" >
                and defect_type = #{defectType,jdbcType=VARCHAR}
            </if>
            <if test="defectStatus != null" >
                and defect_status = #{defectStatus,jdbcType=VARCHAR}
            </if>
            <if test="defectRegistrant != null" >
                and defect_registrant = #{defectRegistrant,jdbcType=VARCHAR}
            </if>
            <if test="defectsDepartment != null" >
                and defects_department = #{defectsDepartment,jdbcType=VARCHAR}
            </if>
            <if test="defectDetails != null" >
                and defect_details = #{defectDetails,jdbcType=VARCHAR}
            </if>
            <if test="assignee != null" >
                and assignee = #{assignee,jdbcType=VARCHAR}
            </if>
            <if test="securityLevel != null" >
                and security_level = #{securityLevel,jdbcType=VARCHAR}
            </if>
            <if test="productLine != null" >
                and product_line = #{productLine,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>
