<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.lemon.monitor.dao.IDemandDao" >

    <resultMap id="BaseResultMap" type="com.cmpay.lemon.monitor.entity.DemandDO">
        <result property="reqInnerSeq" jdbcType="VARCHAR" column="req_inner_seq" />
        <result property="reqPrdLine" jdbcType="VARCHAR" column="req_prd_line" />
        <result property="reqType" jdbcType="VARCHAR" column="req_type" />
        <result property="reqSts" jdbcType="VARCHAR" column="req_sts" />
        <result property="reqNo" jdbcType="VARCHAR" column="req_no" />
        <result property="reqNm" jdbcType="VARCHAR" column="req_nm" />
        <result property="reqDesc" jdbcType="VARCHAR" column="req_desc" />
        <result property="inputRes" jdbcType="INTEGER" column="input_res" />
        <result property="devCycle" jdbcType="INTEGER" column="dev_cycle" />
        <result property="expInput" jdbcType="DOUBLE" column="exp_input" />
        <result property="prdFinshTm" jdbcType="VARCHAR" column="prd_finsh_tm" />
        <result property="actPrdFinshTm" jdbcType="VARCHAR" column="act_prd_finsh_tm" />
        <result property="preCurPeriod" jdbcType="VARCHAR" column="pre_cur_period" />
        <result property="curMonTarget" jdbcType="VARCHAR" column="cur_mon_target" />
        <result property="expPrdReleaseTm" jdbcType="VARCHAR" column="exp_prd_release_tm" />
        <result property="devpLeadDept" jdbcType="VARCHAR" column="devp_lead_dept" />
        <result property="devpCoorDept" jdbcType="VARCHAR" column="devp_coor_dept" />
        <result property="reqProDept" jdbcType="VARCHAR" column="req_pro_dept" />
        <result property="reqProposer" jdbcType="VARCHAR" column="req_proposer" />
        <result property="reqMnger" jdbcType="VARCHAR" column="req_mnger" />
        <result property="reqStartMon" jdbcType="VARCHAR" column="req_start_mon" />
        <result property="reqImplMon" jdbcType="VARCHAR" column="req_impl_mon" />
        <result property="projectMng" jdbcType="VARCHAR" column="project_mng" />
        <result property="productMng" jdbcType="VARCHAR" column="product_mng" />
        <result property="isCut" jdbcType="VARCHAR" column="is_cut" />
        <result property="preMonPeriod" jdbcType="VARCHAR" column="pre_mon_period" />
        <result property="qaMng" jdbcType="VARCHAR" column="qa_mng" />
        <result property="configMng" jdbcType="VARCHAR" column="config_mng" />
        <result property="monRemark" jdbcType="VARCHAR" column="mon_remark" />
        <result property="devpEng" jdbcType="VARCHAR" column="devp_eng" />
        <result property="frontEng" jdbcType="VARCHAR" column="front_eng" />
        <result property="testEng" jdbcType="VARCHAR" column="test_eng" />
        <result property="uatUpdateTm" jdbcType="VARCHAR" column="uat_update_tm" />
        <result property="actUatUpdateTm" jdbcType="VARCHAR" column="act_uat_update_tm" />
        <result property="preTm" jdbcType="VARCHAR" column="pre_tm" />
        <result property="testFinshTm" jdbcType="VARCHAR" column="test_finsh_tm" />
        <result property="actTestFinshTm" jdbcType="VARCHAR" column="act_test_finsh_tm" />
        <result property="riskSolution" jdbcType="VARCHAR" column="risk_solution" />
        <result property="riskFeedbackTm" jdbcType="VARCHAR" column="risk_feedback_tm" />
        <result property="endMonRemark" jdbcType="VARCHAR" column="end_mon_remark" />
        <result property="endFeedbackTm" jdbcType="VARCHAR" column="end_feedback_tm" />
        <result property="totalWorkload" jdbcType="INTEGER" column="total_workload" />
        <result property="leadDeptPro" jdbcType="VARCHAR" column="lead_dept_pro" />
        <result property="coorDeptPro" jdbcType="VARCHAR" column="coor_dept_pro" />
        <result property="leadDeptWorkload" jdbcType="VARCHAR" column="lead_dept_workload" />
        <result property="coorDeptWorkload" jdbcType="VARCHAR" column="coor_dept_workload" />
        <result property="inputWorkload" jdbcType="INTEGER" column="input_workload" />
        <result property="lastInputWorkload" jdbcType="INTEGER" column="last_input_workload" />
        <result property="remainWorkload" jdbcType="INTEGER" column="remain_workload" />
        <result property="monInputWorkload" jdbcType="INTEGER" column="mon_input_workload" />
        <result property="isSvnBuild" jdbcType="VARCHAR" column="is_svn_build" />
        <result property="reqAbnorType" jdbcType="VARCHAR" column="req_abnor_type" />
        <result property="creatTime" jdbcType="TIMESTAMP" column="creat_time" />
        <result property="updateTime" jdbcType="TIMESTAMP" column="update_time" />
        <result property="creatUser" jdbcType="VARCHAR" column="creat_user" />
        <result property="updateUser" jdbcType="VARCHAR" column="update_user" />
    </resultMap>

    <sql id="Base_Column_List" >
        reqInnerSeq ,
		reqPrdLine ,
		reqType ,
		reqSts ,
		reqNo ,
		reqNm ,
		reqDesc ,
		inputRes ,
		devCycle ,
		expInput ,
		prdFinshTm ,
		actPrdFinshTm ,
		preCurPeriod ,
		curMonTarget ,
		expPrdReleaseTm ,
		devpLeadDept,
		devpCoorDept,
		reqProDept,
		reqProposer,
		reqMnger,
		devpResMng ,
		reqStartMon ,
		reqImplMon ,
		projectMng ,
		productMng ,
		isCut ,
		preMonPeriod ,
		qaMng ,
		configMng ,
		monRemark ,
		devpEng ,
		frontEng ,
		testEng ,
		uatUpdateTm ,
		actUatUpdateTm ,
		preTm ,
		testFinshTm ,
		actTestFinshTm ,
		riskSolution ,
		riskFeedbackTm ,
		endMonRemark ,
		endFeedbackTm ,
		totalWorkload ,
		leadDeptPro ,
		coorDeptPro ,
		leadDeptWorkload ,
		coorDeptWorkload ,
		inputWorkload ,
		lastInputWorkload ,
		remainWorkload ,
		monInputWorkload ,
		isSvnBuild,
		reqAbnorType,
		creatTime ,
		updateTime ,
		creatUser ,
		updateUser
    </sql>

</mapper>