<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.lemon.monitor.dao.IDemandTimeFrameHistoryDao" >

    <resultMap id="BaseResultMap" type="com.cmpay.lemon.monitor.entity.DemandTimeFrameHistoryDO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="req_inner_seq" property="reqInnerSeq" jdbcType="VARCHAR" />
        <result column="req_no" property="reqNo" jdbcType="VARCHAR" />
        <result column="req_nm" property="reqNm" jdbcType="VARCHAR" />
        <result column="prd_finsh_tm" property="prdFinshTm" jdbcType="VARCHAR" />
        <result column="exp_prd_release_tm" property="expPrdReleaseTm" jdbcType="VARCHAR" />
        <result column="uat_update_tm" property="uatUpdateTm" jdbcType="VARCHAR" />
        <result column="test_finsh_tm" property="testFinshTm" jdbcType="VARCHAR" />
        <result column="pre_tm" property="preTm" jdbcType="VARCHAR" />
        <result column="old_prd_finsh_tm" property="oldPrdFinshTm" jdbcType="VARCHAR" />
        <result column="old_exp_prd_release_tm" property="oldExpPrdReleaseTm" jdbcType="VARCHAR" />
        <result column="old_uat_update_tm" property="oldUatUpdateTm" jdbcType="VARCHAR" />
        <result column="old_test_finsh_tm" property="oldTestFinshTm" jdbcType="VARCHAR" />
        <result column="old_pre_tm" property="oldPreTm" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="identification" property="identification" jdbcType="VARCHAR" />
        <result column="creat_user" property="creatUser" jdbcType="VARCHAR" />
        <result column="creat_time" property="creatTime" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, req_inner_seq, req_no, req_nm, prd_finsh_tm, exp_prd_release_tm, uat_update_tm, 
        test_finsh_tm, pre_tm, old_prd_finsh_tm, old_exp_prd_release_tm, old_uat_update_tm, 
        old_test_finsh_tm, old_pre_tm, remarks, identification, creat_user, creat_time
    </sql>

    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from t_demand_time_frame_history
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="delete" parameterType="java.lang.Integer" >
        delete from t_demand_time_frame_history
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.cmpay.lemon.monitor.entity.DemandTimeFrameHistoryDO" >
        insert into t_demand_time_frame_history
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="reqInnerSeq != null" >
                req_inner_seq,
            </if>
            <if test="reqNo != null" >
                req_no,
            </if>
            <if test="reqNm != null" >
                req_nm,
            </if>
            <if test="prdFinshTm != null" >
                prd_finsh_tm,
            </if>
            <if test="expPrdReleaseTm != null" >
                exp_prd_release_tm,
            </if>
            <if test="uatUpdateTm != null" >
                uat_update_tm,
            </if>
            <if test="testFinshTm != null" >
                test_finsh_tm,
            </if>
            <if test="preTm != null" >
                pre_tm,
            </if>
            <if test="oldPrdFinshTm != null" >
                old_prd_finsh_tm,
            </if>
            <if test="oldExpPrdReleaseTm != null" >
                old_exp_prd_release_tm,
            </if>
            <if test="oldUatUpdateTm != null" >
                old_uat_update_tm,
            </if>
            <if test="oldTestFinshTm != null" >
                old_test_finsh_tm,
            </if>
            <if test="oldPreTm != null" >
                old_pre_tm,
            </if>
            <if test="remarks != null" >
                remarks,
            </if>
            <if test="identification != null" >
                identification,
            </if>
            <if test="creatUser != null" >
                creat_user,
            </if>
            <if test="creatTime != null" >
                creat_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="reqInnerSeq != null" >
                #{reqInnerSeq,jdbcType=VARCHAR},
            </if>
            <if test="reqNo != null" >
                #{reqNo,jdbcType=VARCHAR},
            </if>
            <if test="reqNm != null" >
                #{reqNm,jdbcType=VARCHAR},
            </if>
            <if test="prdFinshTm != null" >
                #{prdFinshTm,jdbcType=VARCHAR},
            </if>
            <if test="expPrdReleaseTm != null" >
                #{expPrdReleaseTm,jdbcType=VARCHAR},
            </if>
            <if test="uatUpdateTm != null" >
                #{uatUpdateTm,jdbcType=VARCHAR},
            </if>
            <if test="testFinshTm != null" >
                #{testFinshTm,jdbcType=VARCHAR},
            </if>
            <if test="preTm != null" >
                #{preTm,jdbcType=VARCHAR},
            </if>
            <if test="oldPrdFinshTm != null" >
                #{oldPrdFinshTm,jdbcType=VARCHAR},
            </if>
            <if test="oldExpPrdReleaseTm != null" >
                #{oldExpPrdReleaseTm,jdbcType=VARCHAR},
            </if>
            <if test="oldUatUpdateTm != null" >
                #{oldUatUpdateTm,jdbcType=VARCHAR},
            </if>
            <if test="oldTestFinshTm != null" >
                #{oldTestFinshTm,jdbcType=VARCHAR},
            </if>
            <if test="oldPreTm != null" >
                #{oldPreTm,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null" >
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="identification != null" >
                #{identification,jdbcType=VARCHAR},
            </if>
            <if test="creatUser != null" >
                #{creatUser,jdbcType=VARCHAR},
            </if>
            <if test="creatTime != null" >
                #{creatTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.cmpay.lemon.monitor.entity.DemandTimeFrameHistoryDO" >
        update t_demand_time_frame_history
        <set >
            <if test="reqInnerSeq != null" >
                req_inner_seq = #{reqInnerSeq,jdbcType=VARCHAR},
            </if>
            <if test="reqNo != null" >
                req_no = #{reqNo,jdbcType=VARCHAR},
            </if>
            <if test="reqNm != null" >
                req_nm = #{reqNm,jdbcType=VARCHAR},
            </if>
            <if test="prdFinshTm != null" >
                prd_finsh_tm = #{prdFinshTm,jdbcType=VARCHAR},
            </if>
            <if test="expPrdReleaseTm != null" >
                exp_prd_release_tm = #{expPrdReleaseTm,jdbcType=VARCHAR},
            </if>
            <if test="uatUpdateTm != null" >
                uat_update_tm = #{uatUpdateTm,jdbcType=VARCHAR},
            </if>
            <if test="testFinshTm != null" >
                test_finsh_tm = #{testFinshTm,jdbcType=VARCHAR},
            </if>
            <if test="preTm != null" >
                pre_tm = #{preTm,jdbcType=VARCHAR},
            </if>
            <if test="oldPrdFinshTm != null" >
                old_prd_finsh_tm = #{oldPrdFinshTm,jdbcType=VARCHAR},
            </if>
            <if test="oldExpPrdReleaseTm != null" >
                old_exp_prd_release_tm = #{oldExpPrdReleaseTm,jdbcType=VARCHAR},
            </if>
            <if test="oldUatUpdateTm != null" >
                old_uat_update_tm = #{oldUatUpdateTm,jdbcType=VARCHAR},
            </if>
            <if test="oldTestFinshTm != null" >
                old_test_finsh_tm = #{oldTestFinshTm,jdbcType=VARCHAR},
            </if>
            <if test="oldPreTm != null" >
                old_pre_tm = #{oldPreTm,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null" >
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="identification != null" >
                identification = #{identification,jdbcType=VARCHAR},
            </if>
            <if test="creatUser != null" >
                creat_user = #{creatUser,jdbcType=VARCHAR},
            </if>
            <if test="creatTime != null" >
                creat_time = #{creatTime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="find" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.DemandTimeFrameHistoryDO" >
        select 
        <include refid="Base_Column_List" />
        from t_demand_time_frame_history
        <where >
            <if test="id != null" >
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="reqInnerSeq != null" >
                and req_inner_seq = #{reqInnerSeq,jdbcType=VARCHAR}
            </if>
            <if test="reqNo != null" >
                and req_no = #{reqNo,jdbcType=VARCHAR}
            </if>
            <if test="reqNm != null" >
                and req_nm = #{reqNm,jdbcType=VARCHAR}
            </if>
            <if test="prdFinshTm != null" >
                and prd_finsh_tm = #{prdFinshTm,jdbcType=VARCHAR}
            </if>
            <if test="expPrdReleaseTm != null" >
                and exp_prd_release_tm = #{expPrdReleaseTm,jdbcType=VARCHAR}
            </if>
            <if test="uatUpdateTm != null" >
                and uat_update_tm = #{uatUpdateTm,jdbcType=VARCHAR}
            </if>
            <if test="testFinshTm != null" >
                and test_finsh_tm = #{testFinshTm,jdbcType=VARCHAR}
            </if>
            <if test="preTm != null" >
                and pre_tm = #{preTm,jdbcType=VARCHAR}
            </if>
            <if test="oldPrdFinshTm != null" >
                and old_prd_finsh_tm = #{oldPrdFinshTm,jdbcType=VARCHAR}
            </if>
            <if test="oldExpPrdReleaseTm != null" >
                and old_exp_prd_release_tm = #{oldExpPrdReleaseTm,jdbcType=VARCHAR}
            </if>
            <if test="oldUatUpdateTm != null" >
                and old_uat_update_tm = #{oldUatUpdateTm,jdbcType=VARCHAR}
            </if>
            <if test="oldTestFinshTm != null" >
                and old_test_finsh_tm = #{oldTestFinshTm,jdbcType=VARCHAR}
            </if>
            <if test="oldPreTm != null" >
                and old_pre_tm = #{oldPreTm,jdbcType=VARCHAR}
            </if>
            <if test="remarks != null" >
                and remarks = #{remarks,jdbcType=VARCHAR}
            </if>
            <if test="identification != null" >
                and identification = #{identification,jdbcType=VARCHAR}
            </if>
            <if test="creatUser != null" >
                and creat_user = #{creatUser,jdbcType=VARCHAR}
            </if>
            <if test="creatTime != null" >
                and creat_time = #{creatTime,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>