<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.lemon.monitor.dao.IDictionaryDao">

    <resultMap id="BaseResultMap" type="com.cmpay.lemon.monitor.entity.DictionaryDO">
        <result property="seqId" jdbcType="BIGINT" column="seq_id" />
        <result property="name" jdbcType="VARCHAR" column="name" />
        <result property="value" jdbcType="VARCHAR" column="value" />
        <result property="jp" jdbcType="VARCHAR" column="jp" />
        <result property="qp" jdbcType="VARCHAR" column="qp" />
        <result property="dicId" jdbcType="VARCHAR" column="dic_id" />
        <result property="remark" jdbcType="VARCHAR" column="remark" />
        <result property="sort" jdbcType="BIGINT" column="sort" />
    </resultMap>

    <sql id="Base_Column_List" >
        seq_id,
        name,
        value,
        jp,
        qp,
        dic_id,
        remark,
        sort
    </sql>

</mapper>
