<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.lemon.monitor.dao.IDictionaryExtDao">

    <resultMap id="BaseResultMap" type="com.cmpay.lemon.monitor.entity.DictionaryDO">
        <result property="seqId" jdbcType="BIGINT" column="seq_id" />
        <result property="name" jdbcType="VARCHAR" column="name" />
        <result property="value" jdbcType="VARCHAR" column="value" />
        <result property="jp" jdbcType="VARCHAR" column="jp" />
        <result property="qp" jdbcType="VARCHAR" column="qp" />
        <result property="dicId" jdbcType="VARCHAR" column="dic_id" />
        <result property="remark" jdbcType="VARCHAR" column="remark" />
        <result property="sort" jdbcType="BIGINT" column="sort" />
        <result property="mailJdId" jdbcType="INTEGER" column="mail_jd_id" />
        <result property="userType" jdbcType="VARCHAR" column="user_type" />
        <result property="userName" jdbcType="VARCHAR" column="user_name" />
        <result property="userMail" jdbcType="VARCHAR" column="user_mail" />
        <result property="creatTime" jdbcType="TIMESTAMP" column="creat_time" />
    </resultMap>

    <resultMap id="rm4" type="com.cmpay.lemon.monitor.entity.DictionaryDO">
        <result property="name"        jdbcType="VARCHAR"      column="user_name"/>
        <result property="value"       jdbcType="VARCHAR"      column="user_id"/>
    </resultMap>

    <sql id="Base_Column_List" >
        seq_id,
        name,
        value,
        jp,
        qp,
        dic_id,
        remark,
        sort
    </sql>

    <sql id="Jd_Column_List" >
        mail_jd_id,
        user_type,
        user_name,
        user_mail,
        creat_time
    </sql>

    <select id="getDicByDicId" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.DictionaryDO" >
        SELECT
        <include refid="Base_Column_List" />
        FROM t_permi_dic_data t
        <where>
            <if test="dicId != null and dicId != ''">
                t.dic_id = #{dicId}
            </if>
            <if test="value != null and value != ''">
                and t.value = #{value}
            </if>
        </where>
    </select>

    <select id="findDictionary"  resultMap="BaseResultMap" >
         SELECT CONCAT(NAME,'_',CASE WHEN description = '*' THEN '全渠道' else description END ) as name,NAME as value
          FROM t_ercdmg_buscnl order by name asc
    </select>

    <select id="findPordmod" resultMap="BaseResultMap">
        SELECT CONCAT(NAME,'_',description) name,NAME as value FROM t_ercdmg_busmod order by name asc
    </select>

    <select id="getJdInfo" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.DictionaryDO" >
        SELECT
        <include refid="Jd_Column_List" />
        FROM t_mail_jd t
        <where>
            <if test="userName != null and userName != ''">
                t.user_name = #{userName}
            </if>
        </where>
        ORDER BY user_name desc
    </select>

    <select id="findDepartId" resultType="string" parameterType="string">
        SELECT DEPT_ID FROM t_permi_dept WHERE DEPT_NAME = #{fieldValue}
    </select>

    <select id="findFieldName" resultType="string" parameterType="map">
        SELECT NAME FROM t_permi_dic_data WHERE DIC_ID = #{fieldId} AND NAME = #{fieldValue}
    </select>

    <select id="findUploadPeriod" resultMap="BaseResultMap" parameterType="string">
       SELECT NAME AS VALUE,VALUE AS NAME FROM t_permi_dic_data
           WHERE DIC_ID='REQ_PEROID' AND   NAME &lt;=  CAST(#{reqPeriod} as SIGNED     ) AND NAME IN ('30','50','110','70','140','160','180')
    </select>

    <select id="findProManager" resultMap="rm4">
        select distinct u.user_name,u.user_id from  t_permi_user_role r right JOIN t_permi_user u on r.user_id=u.user_id where  role_id='201401010002' order  by  u.user_name asc
    </select>

    <update id="updateWorkloadLockStatus"  parameterType="java.lang.String">
       update t_permi_dic_data  SET
        value = #{workloadLockStatus}
        WHERE DIC_ID = 'WORKLOAD_LOCK_STATUS'
    </update>
</mapper>
