<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.lemon.monitor.dao.IIssueDetailsExtDao" >

    <resultMap id="BaseResultMap" type="com.cmpay.lemon.monitor.entity.IssueDetailsDO" >
        <id column="jire_key" property="jireKey" jdbcType="VARCHAR" />
        <result column="req_no" property="reqNo" jdbcType="VARCHAR" />
        <result column="epic_key" property="epicKey" jdbcType="VARCHAR" />
        <result column="issue_type" property="issueType" jdbcType="VARCHAR" />
        <result column="issue_status" property="issueStatus" jdbcType="VARCHAR" />
        <result column="issue_registrant" property="issueRegistrant" jdbcType="VARCHAR" />
        <result column="issue_department" property="issueDepartment" jdbcType="VARCHAR" />
        <result column="registration_date" property="registrationDate" jdbcType="VARCHAR" />
        <result column="issue_details" property="issueDetails" jdbcType="VARCHAR" />
        <result column="assignee" property="assignee" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        jire_key, req_no, epic_key, issue_type, issue_status, issue_registrant, issue_department,
        registration_date, issue_details, assignee
    </sql>

    <select id="findNotCompleted" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.IssueDetailsDO" >
        select
        <include refid="Base_Column_List" />
        from t_issue_details
        <where >
            issue_status not in ('完成','关闭','问题冻结')
            <if test="jireKey != null" >
                and jire_key = #{jireKey,jdbcType=VARCHAR}
            </if>
            <if test="reqNo != null" >
                and req_no = #{reqNo,jdbcType=VARCHAR}
            </if>
            <if test="epicKey != null" >
                and epic_key = #{epicKey,jdbcType=VARCHAR}
            </if>
            <if test="issueType != null" >
                and issue_type = #{issueType,jdbcType=VARCHAR}
            </if>
            <if test="issueRegistrant != null" >
                and issue_registrant = #{issueRegistrant,jdbcType=VARCHAR}
            </if>
            <if test="issueDepartment != null" >
                and issue_department = #{issueDepartment,jdbcType=VARCHAR}
            </if>
            <if test="registrationDate != null" >
                and registration_date = #{registrationDate,jdbcType=VARCHAR}
            </if>
            <if test="issueDetails != null" >
                and issue_details = #{issueDetails,jdbcType=VARCHAR}
            </if>
            <if test="assignee != null" >
                and assignee = #{assignee,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="findList" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.IssueDetailsDO" >
        select
        <include refid="Base_Column_List" />
        from t_issue_details
        <where >
            <if test="jireKey != null" >
                and jire_key = #{jireKey,jdbcType=VARCHAR}
            </if>
            <if test="reqNo != null" >
                and req_no = #{reqNo,jdbcType=VARCHAR}
            </if>
            <if test="epicKey != null" >
                and epic_key = #{epicKey,jdbcType=VARCHAR}
            </if>
            <if test="issueType != null" >
                and issue_type = #{issueType,jdbcType=VARCHAR}
            </if>
            <if test="issueStatus != null" >
                and issue_status = #{issueStatus,jdbcType=VARCHAR}
            </if>
            <if test="issueRegistrant != null" >
                and issue_registrant = #{issueRegistrant,jdbcType=VARCHAR}
            </if>
            <if test="issueDepartment != null" >
                and issue_department = #{issueDepartment,jdbcType=VARCHAR}
            </if>
            <if test="registrationDate != null" >
                and registration_date LIKE CONCAT('%',#{registrationDate},'%')
            </if>
            <if test="issueDetails != null" >
                and issue_details = #{issueDetails,jdbcType=VARCHAR}
            </if>
            <if test="assignee != null" >
                and assignee = #{assignee,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="findWeekList" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.IssueDetailsDO" >
        select
        <include refid="Base_Column_List" />
        from t_issue_details
        <where >
            <if test="jireKey != null" >
                and jire_key = #{jireKey,jdbcType=VARCHAR}
            </if>
            <if test="reqNo != null" >
                and req_no = #{reqNo,jdbcType=VARCHAR}
            </if>
            <if test="epicKey != null" >
                and epic_key = #{epicKey,jdbcType=VARCHAR}
            </if>
            <if test="issueType != null" >
                and issue_type = #{issueType,jdbcType=VARCHAR}
            </if>
            <if test="issueStatus != null" >
                and issue_status = #{issueStatus,jdbcType=VARCHAR}
            </if>
            <if test="issueRegistrant != null" >
                and issue_registrant = #{issueRegistrant,jdbcType=VARCHAR}
            </if>
            <if test="issueDepartment != null" >
                and issue_department = #{issueDepartment,jdbcType=VARCHAR}
            </if>
            <if test="registrationDate != null" >
                and YEARWEEK(date_format(registration_date,'%Y-%m-%d')) = YEARWEEK(#{registrationDate,jdbcType=VARCHAR})
            </if>
            <if test="issueDetails != null" >
                and issue_details = #{issueDetails,jdbcType=VARCHAR}
            </if>
            <if test="assignee != null" >
                and assignee = #{assignee,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>
