<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.lemon.monitor.dao.IOperationApplicationDao">
        <resultMap id="rm" type="com.cmpay.lemon.monitor.entity.OperationApplicationDO">
        <result property="operNumber"         jdbcType="VARCHAR"      column="oper_number"/>
        <result property="operRequestContent"         jdbcType="VARCHAR"      column="oper_request_content"/>
        <result property="proposeDate"  jdbcType="DATE"      column="propose_date"/>
        <result property="isRefSql"  jdbcType="VARCHAR"      column="is_ref_sql"/>
          <result property="sysOperType"  jdbcType="VARCHAR"      column="sys_oper_type"/>
         <result property="operStatus"  jdbcType="VARCHAR"      column="oper_status"/>
        <result property="applicationSector"  jdbcType="VARCHAR"      column="application_sector"/>
        <result property="operApplicant"       jdbcType="VARCHAR"      column="oper_applicant"/>
        <result property="applicantTel"       jdbcType="VARCHAR"      column="applicant_tel"/>
        <result property="operType"       jdbcType="VARCHAR"      column="oper_type"/>
        <result property="identifier"   jdbcType="VARCHAR"      column="identifier"/>
        <result property="identifierTel"   jdbcType="VARCHAR"      column="identifier_tel"/>
        <result property="validationType"   jdbcType="VARCHAR"      column="validation_type"/>
        <result property="validationInstruction"   jdbcType="VARCHAR"      column="validation_instruction"/>
        <result property="operApplicationReason"   jdbcType="VARCHAR"      column="oper_application_reason"/>
        <result property="analysis"   jdbcType="VARCHAR"      column="analysis"/>
        <result property="completionUpdate"   jdbcType="VARCHAR"      column="completion_update"/>
        <result property="remark"   jdbcType="VARCHAR"      column="remark"/>
        <result property="mailRecipient"   jdbcType="VARCHAR"      column="mail_recipient"/>
        <result property="mailCopyPerson"   jdbcType="VARCHAR"      column="mail_copy_person"/>
        <result property="developmentLeader"   jdbcType="VARCHAR"      column="development_leader"/>
        <result property="svntabName"   jdbcType="VARCHAR"      column="svntab_name"/>
		<result property="isBackWay"   jdbcType="VARCHAR"      column="is_back_way"/>
			<result property="mailLeader"   jdbcType="VARCHAR"      column="mail_leader"/>
    </resultMap>


    <sql id="Base_Column_List">
           oper_number,oper_request_content,propose_date,is_ref_sql,sys_oper_type,oper_status,application_sector,oper_applicant,
           applicant_tel,oper_type,identifier,identifier_tel,validation_type,validation_instruction,
           oper_application_reason,analysis,completion_update,remark,mail_recipient,mail_copy_person,development_leader,mail_leader
           ,svntab_name,stateId
    </sql>


     <insert id="insertOperationalApplication"  parameterType="com.cmpay.lemon.monitor.entity.OperationApplicationDO">
    	insert into  t_operational_application_detail(<include refid="Base_Column_List"/>,is_back_way)
    	values(#{operNumber},
    		#{operRequestContent},
    		#{proposeDate},
    		#{isRefSql},
    		#{sysOperType},
    		#{operStatus},
    		#{applicationSector},
    		#{operApplicant},
    		#{applicantTel},
    		#{operType},
    		#{identifier},
    		#{identifierTel},
    		#{validationType},
    		#{validationInstruction},
    		#{operApplicationReason},
    		#{analysis},
            #{completionUpdate},
    		#{remark},
    		#{mailRecipient},
    		#{mailCopyPerson},
    		#{developmentLeader},
    		#{mailLeader},
    		#{svntabName},
    		#{stateId},
            #{isBackWay}
    		)
    </insert>

	<select id="getSystemEntryStatusChangeIsNotTimelyList" resultMap="rm"  >
		select
		<include refid="Base_Column_List" />
		from t_operational_application_detail
		<where >
			<if test="operStatus != null" >
				and oper_status = #{operStatus,jdbcType=BIGINT}
			</if>
			<if test="proposeDate != null" >
				and propose_date > #{proposeDate,jdbcType=VARCHAR}
			</if>
			ORDER BY application_sector,oper_applicant,propose_date desc
		</where>
	</select>
	<select id="getSystemEntryStatusChangeIsNotTimelyList2" resultMap="rm"  >
		select
		<include refid="Base_Column_List" />
		from t_operational_application_detail
		<where >
			propose_date > '2020-09-01'
			<if test="operStatus != null and operStatus != ''" >
				and oper_status = #{operStatus,jdbcType=BIGINT}
			</if>
			<if test="proposeDate != null" >
				and YEARWEEK(date_format(propose_date,'%Y-%m-%d')) = YEARWEEK(#{proposeDate,jdbcType=VARCHAR})
			</if>
			<if test="applicationSector != null and applicationSector != ''" >
				and application_sector = #{applicationSector,jdbcType=VARCHAR}
			</if>
			ORDER BY application_sector,oper_applicant,propose_date desc
		</where>
	</select>
	<select id="getSystemEntryStatusChangeIsNotTimelyList3" resultMap="rm"  >
		select
		<include refid="Base_Column_List" />
		from t_operational_application_detail
		<where >
			propose_date > '2020-09-01'
			<if test="operStatus != null  and operStatus != ''" >
				and oper_status = #{operStatus,jdbcType=BIGINT}
			</if>
			<if test="proposeDate2 != null " >
				and propose_date LIKE CONCAT('%',#{proposeDate2},'%')
			</if>
			<if test="applicationSector != null  and applicationSector != ''" >
				and application_sector = #{applicationSector,jdbcType=VARCHAR}
			</if>
			ORDER BY application_sector,oper_applicant,propose_date desc
		</where>
	</select>
    <update id="updateAllOperationalApplication" parameterType="com.cmpay.lemon.monitor.entity.OperationApplicationDO">
    	UPDATE t_operational_application_detail
    	<set>
			<if test="sysOperType != null and sysOperType != ''">
				sys_oper_type = #{sysOperType},
			</if>
			<if test="proposeDate != null">
				propose_date = #{proposeDate},
			</if>
			<if test="applicationSector != null and applicationSector != ''">
				application_sector = #{applicationSector},
			</if>
			<if test="operApplicant != null and operApplicant != ''">
				oper_applicant = #{operApplicant},
			</if>
			<if test="applicantTel != null and applicantTel != ''">
				applicant_tel = #{applicantTel},
			</if>
			<if test="operRequestContent != null and operRequestContent != ''">
				oper_request_content = #{operRequestContent},
			</if>
			<if test="operType != null and operType != ''">
				oper_type = #{operType},
			</if>
			<if test="identifier != null and identifier != ''">
				identifier = #{identifier},
			</if>
			<if test="identifierTel != null and identifierTel != ''">
				identifier_tel = #{identifierTel},
			</if>
			<if test="validationType != null and validationType != ''">
				validation_type = #{validationType},
			</if>
			<if test="validationInstruction != null and validationInstruction != ''">
				validation_instruction = #{validationInstruction},
			</if>
			<if test="operApplicationReason != null and operApplicationReason != ''">
				oper_application_reason = #{operApplicationReason},
			</if>
			<if test="analysis != null and analysis != ''">
				analysis = #{analysis},
			</if>
			<if test="completionUpdate != null and completionUpdate != ''">
				completion_update = #{completionUpdate},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
			<if test="mailRecipient != null and mailRecipient != ''">
				mail_recipient = #{mailRecipient},
			</if>
			<if test="mailCopyPerson != null and mailCopyPerson != ''">
				mail_copy_person = #{mailCopyPerson},
			</if>
			<if test="developmentLeader != null and developmentLeader != ''">
				development_leader = #{developmentLeader},
			</if>
			<if test="mailLeader != null and mailLeader!= ''">
				mail_leader = #{mailLeader},
			</if>
			<if test="svntabName != null">
				svntab_name = #{svntabName},
			</if>
			<if test="operStatus != null and operStatus != ''">
				oper_status = #{operStatus},
			</if>
			<if test="isBackWay != null and isBackWay != ''">
				is_back_way = #{isBackWay},
			</if>
		</set>
    	WHERE oper_number = #{operNumber}
    </update>


     <select id="findBaseOperationalApplicationInfo" resultMap="rm" parameterType="string">
    	SELECT
    		<include refid="Base_Column_List"/>,is_back_way
    	from  t_operational_application_detail t1
    	WHERE
            oper_number =#{operNumber}
    </select>

     <select id="findPageBreakByCondition" resultMap="rm" parameterType="map">
    	SELECT
    		<include refid="Base_Column_List"/>
    	from  t_operational_application_detail t1
    	WHERE 1=1
    	<if test="operRequestContent != null and operRequestContent != ''">
    		and oper_request_content LIKE CONCAT('%',#{operRequestContent},'%')
    	</if>
		 <if test="operNumber != null and operNumber != ''">
			 and oper_number LIKE CONCAT('%',#{operNumber},'%')
		 </if>
    	<if test="poDateStart != null and poDateEnd != null ">
    		and propose_date between #{poDateStart} and #{poDateEnd}
    	</if>
		 <if test="proposeDate != null ">
			 and propose_date = #{proposeDate}
		 </if>
    	<if test="sysOperType != null and sysOperType != ''">
    	    and sys_oper_type = #{sysOperType}
    	</if>
    	<if test="operStatus != null and operStatus != ''">
    		and oper_status = #{operStatus}
    	</if>
    	<if test="operApplicant != null and operApplicant != ''">
    		and oper_applicant LIKE CONCAT('%',#{operApplicant},'%')
    	</if>
		 <if test="applicationSector != null and applicationSector != ''">
			 and application_sector = #{applicationSector}
		 </if>
    	order by propose_date desc
    </select>

     <!--<select id="findNumberByCondition" resultType="int" parameterType="map">-->
    	<!--SELECT COUNT(1) FROM t_operational_application_detail-->
    	<!--WHERE 1=1-->
    	<!--<if test="oper_request_content != null and oper_request_content != ''">-->
    		<!--and oper_request_content like "%"#{oper_request_content}"%"-->
    	<!--</if>-->
    	<!---->
    	<!--<if test="po_date_start != null and po_date_start != '' and po_date_end != null and po_date_end != '' ">-->
    		<!--and propose_date between #{po_date_start} and #{po_date_end}-->
    	<!--</if>-->
    	<!---->
    	<!---->
    	<!--<if test="sys_oper_type != null and sys_oper_type != ''">-->
    	    <!--and sys_oper_type = #{sys_oper_type}-->
    	<!--</if>-->
    	<!--<if test="oper_status != null and oper_status != ''">-->
    		<!--and oper_status = #{oper_status}-->
    	<!--</if>-->
    	<!--<if test="oper_applicant != null and oper_applicant != ''">-->
    		<!--and oper_applicant like "%"#{oper_applicant}"%"-->
    	<!--</if>-->
    <!--</select>-->
    <!---->
    <update id="updateOperationalApplication" parameterType="com.cmpay.lemon.monitor.entity.OperationApplicationDO">
    	UPDATE t_operational_application_detail
    	SET
    	<if test="operStatus != null and operStatus != ''">
    		oper_status = #{operStatus}
    	</if>
    	WHERE oper_number = #{operNumber}
    </update>

</mapper>
