<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.lemon.monitor.dao.IOperationProductionDao">

    <resultMap id="rm" type="com.cmpay.lemon.monitor.entity.ProductionDO">
        <result property="proNumber"         jdbcType="VARCHAR"      column="pro_number"/>
        <result property="proNeed"         jdbcType="VARCHAR"      column="pro_need"/>
        <result property="proType"         jdbcType="VARCHAR"      column="pro_type"/>
        <result property="proDate"  jdbcType="DATE"      column="pro_date"/>
        <result property="proDateStart"  jdbcType="DATE"      column="pro_date_start"/>
        <result property="proDateEnd"  jdbcType="DATE"      column="pro_date_end"/>
        <result property="applicationDept"  jdbcType="VARCHAR"      column="application_dept"/>
        <result property="proApplicant"  jdbcType="VARCHAR"      column="pro_applicant"/>
        <result property="applicantTel"       jdbcType="VARCHAR"      column="applicant_tel"/>
        <result property="proModule"       jdbcType="VARCHAR"      column="pro_module"/>
        <result property="businessPrincipal"       jdbcType="VARCHAR"      column="business_principal"/>
        <result property="basePrincipal"   jdbcType="VARCHAR"      column="base_principal"/>
        <result property="proManager"   jdbcType="VARCHAR"      column="pro_manager"/>
        <result property="proStatus"   jdbcType="VARCHAR"      column="pro_status"/>
        <result property="isUpDatabase"   jdbcType="VARCHAR"      column="is_up_database"/>
        <result property="isUpStructure"   jdbcType="VARCHAR"      column="is_up_structure"/>
        <result property="proOperation"   jdbcType="VARCHAR"      column="pro_operation"/>
        <result property="isRefCerificate"   jdbcType="VARCHAR"      column="is_ref_cerificate"/>
        <result property="isAdvanceProduction"   jdbcType="VARCHAR"      column="is_advance_production"/>
        <result property="notAdvanceReason"   jdbcType="VARCHAR"      column="not_advance_reason"/>
        <result property="proAdvanceResult"   jdbcType="VARCHAR"      column="pro_advance_result"/>
        <result property="notProductionImpact"   jdbcType="VARCHAR"      column="not_production_impact"/>
        <result property="identifier"   jdbcType="VARCHAR"      column="identifier"/>
        <result property="identifierTel"   jdbcType="VARCHAR"      column="identifier_tel"/>
        <result property="proChecker"   jdbcType="VARCHAR"      column="pro_checker"/>
        <result property="checkerTel"   jdbcType="VARCHAR"      column="checker_tel"/>
        <result property="validation"   jdbcType="VARCHAR"      column="validation"/>
        <result property="developmentLeader"   jdbcType="VARCHAR"      column="development_leader"/>
        <result property="approver"   jdbcType="VARCHAR"      column="approver"/>
        <result property="updateOperator"   jdbcType="VARCHAR"      column="update_operator"/>
        <result property="remark"   jdbcType="VARCHAR"      column="remark"/>
        <result property="unusualReasonPhrase"   jdbcType="VARCHAR"      column="unusual_reason_phrase"/>
        <result property="urgentReasonPhrase"   jdbcType="VARCHAR"      column="urgent_reason_phrase"/>
        <result property="completionUpdate"   jdbcType="VARCHAR"      column="completion_update"/>
        <result property="earlyImplementation"   jdbcType="VARCHAR"      column="early_implementation"/>
        <result property="influenceUse"   jdbcType="VARCHAR"      column="influence_use"/>
        <result property="influenceUseReason"   jdbcType="VARCHAR"      column="influence_use_reason"/>
        <result property="influenceUseInf"   jdbcType="VARCHAR"      column="influence_use_inf"/>
        <result property="operatingTime"   jdbcType="VARCHAR"      column="operating_time"/>
        <result property="productionDeploymentResult"   jdbcType="VARCHAR"      column="production_deployment_result"/>
        <result property="isOperationProduction"   jdbcType="VARCHAR"      column="is_operation_production"/>
        <result property="mailRecipient"   jdbcType="VARCHAR"      column="mail_recipient"/>
        <result property="mailCopyPerson"   jdbcType="VARCHAR"      column="mail_copy_person"/>
        <result property="deptName"   jdbcType="VARCHAR"      column="dept_name"/>
        <result property="deptManagerName"   jdbcType="VARCHAR"      column="dept_manager_name"/>
        <result property="proPkgStatus" jdbcType="VARCHAR" column="pro_pkg_status"/>
        <result property="proPkgTime" jdbcType="TIMESTAMP" column="pro_pkg_time"/>
        <result property="proPkgName" jdbcType="VARCHAR" column="pro_pkg_name"/>
        <result property="mailLeader" jdbcType="VARCHAR" column="mail_leader" />
        <result property="svntabName" jdbcType="VARCHAR" column="svntab_name" />
    </resultMap>

    <!--<resultMap id="pm" type="com.hisun.persistence.beans.ProductionBean">-->
        <!--<result property="proNumber"         jdbcType="VARCHAR"      column="pro_number"/>-->
        <!--<result property="proStatus"   jdbcType="VARCHAR"      column="pro_status"/>-->
    <!--</resultMap>-->

    <resultMap id="mm" type="com.cmpay.lemon.monitor.entity.sendemail.MailGroupDO">
        <result property="mailGroupId"         jdbcType="VARCHAR"      column="mail_group_id"/>
        <result property="mailGroupName"         jdbcType="VARCHAR"      column="mail_group_name"/>
        <result property="mailUser"         jdbcType="VARCHAR"      column="mail_user"/>
        <result property="mailGroupDesc"  jdbcType="VARCHAR"      column="mail_group_desc"/>
        <result property="groupTime"  jdbcType="DATE"      column="group_time"/>
    </resultMap>

    <resultMap id="pbm" type="com.cmpay.lemon.monitor.entity.ProblemDO">
        <result property="problemSerialNumber"         jdbcType="VARCHAR"      column="problem_serial_number"/>
        <result property="proNumber"         jdbcType="VARCHAR"      column="pro_number"/>
        <result property="problemDetail"         jdbcType="VARCHAR"      column="problem_detail"/>
        <result property="problemTime"  jdbcType="TIMESTAMP"      column="problem_time"/>
    </resultMap>

    <resultMap id="sm" type="com.cmpay.lemon.monitor.entity.ScheduleDO">
        <result property="seqId"         jdbcType="VARCHAR"      column="seq_id"/>
        <result property="proNumber"         jdbcType="VARCHAR"      column="pro_number"/>
        <result property="proOperator"         jdbcType="VARCHAR"      column="pro_operator"/>
        <result property="operationType"  jdbcType="VARCHAR"      column="operation_type"/>
        <result property="scheduleTime"  jdbcType="TIMESTAMP"      column="schedule_time"/>
        <result property="preOperation"  jdbcType="VARCHAR"      column="pre_operation"/>
        <result property="afterOperation"  jdbcType="VARCHAR"      column="after_operation"/>
        <result property="operRequestContent"  jdbcType="VARCHAR"      column="oper_request_content"/>
        <result property="proposeDate"  jdbcType="DATE"      column="propose_date"/>
        <result property="isRefSql"  jdbcType="VARCHAR"      column="is_ref_sql"/>
        <result property="sysOperType"  jdbcType="VARCHAR"      column="sys_oper_type"/>
        <result property="operStatus"  jdbcType="VARCHAR"      column="oper_status"/>
        <result property="applicationSector"  jdbcType="VARCHAR"      column="application_sector"/>
        <result property="identifier"  jdbcType="VARCHAR"      column="identifier"/>
        <result property="developmentLeader"  jdbcType="VARCHAR"      column="development_leader"/>
        <result property="operApplicant"  jdbcType="VARCHAR"      column="oper_applicant"/>
        <result property="svntabName"  jdbcType="VARCHAR"      column="svntab_name"/>
        <result property="operApplicationReason"  jdbcType="VARCHAR"      column="oper_application_reason"/>
        <result property="analysis"  jdbcType="VARCHAR"      column="analysis"/>
    </resultMap>

    <resultMap id="mf" type="com.cmpay.lemon.monitor.entity.sendemail.MailFlowDO">
        <result property="mailSerialNumber"         jdbcType="VARCHAR"      column="mail_serial_number"/>
        <result property="mailSubject"         jdbcType="VARCHAR"      column="mail_subject"/>
        <result property="mailSender"         jdbcType="VARCHAR"      column="mail_sender"/>
        <result property="mailReceiver"  jdbcType="VARCHAR"      column="mail_receiver"/>
        <result property="mailAnnex"  jdbcType="VARCHAR"      column="mail_annex"/>
        <result property="mailSendContent"  jdbcType="VARCHAR"      column="mail_send_content"/>
        <result property="groupTime"  jdbcType="DATE"      column="group_time"/>
        <result property="employeeEmail"   jdbcType="VARCHAR"      column="email"/>
        <result property="emailPassword"   jdbcType="VARCHAR"      column="email_password"/>
        <result property="employeeName"  jdbcType="VARCHAR"      column="user_name"/>
    </resultMap>



    <!--<resultMap id="tm" type="com.hisun.persistence.beans.SubTaskBean">-->
        <!--<result property="relationId"           jdbcType="VARCHAR"      column="SEQ_ID"/>-->
        <!--<result property="taskId"               jdbcType="VARCHAR"      column="TASK_ID"/>-->
        <!--<result property="subTaskId"            jdbcType="VARCHAR"      column="SUB_TASK_ID"/>-->
        <!--<result property="productTypeId"        jdbcType="VARCHAR"      column="PRODUCT_TYPE_ID"/>-->
        <!--<result property="productTypeName"      jdbcType="VARCHAR"      column="PRODUCT_TYPE_NAME"/>-->
        <!--<result property="taskName"             jdbcType="VARCHAR"      column="TASK_NAME"/>-->
        <!--<result property="taskDescription"      jdbcType="VARCHAR"      column="TASK_DESCRIPTION"/>-->
        <!--<result property="baseCharge"           jdbcType="VARCHAR"      column="BASE_CHARGE"/>-->
        <!--<result property="gaoyCharge"           jdbcType="VARCHAR"      column="GAOY_CHARGE"/>-->
        <!--<result property="chargeDeptId"         jdbcType="VARCHAR"      column="CHARGE_DEPT_ID"/>-->
        <!--<result property="chargeDeptName"       jdbcType="VARCHAR"      column="CHARGE_DEPT_NAME"/>-->
        <!--<result property="cycleCategory"        jdbcType="VARCHAR"      column="CYCLE_CATEGORY"/>-->
        <!--<result property="cycleCategoryName"    jdbcType="VARCHAR"      column="CYCLE_CATEGORY_NAME"/>-->
        <!--<result property="completePercent"      jdbcType="FLOAT"        column="COMPLETE_PERCENT"/>-->
        <!--<result property="statusId"             jdbcType="VARCHAR"      column="STATUS_ID"/>-->
        <!--<result property="statusName"           jdbcType="VARCHAR"      column="STATUS_NAME"/>-->
        <!--<result property="proposedDate"         jdbcType="TIMESTAMP"    column="PROPOSED_DATE"/>-->
        <!--<result property="createDate"           jdbcType="TIMESTAMP"    column="CREATE_DATE"/>-->
        <!--<result property="completeDate"         jdbcType="TIMESTAMP"    column="COMPLETE_DATE"/>-->
        <!--<result property="proManager"           jdbcType="VARCHAR"      column="PRO_MANAGER"/>-->
        <!--<result property="reqType"              jdbcType="VARCHAR"      column="REQ_TYPE"/>-->
        <!--<result property="reqTypeName"        	jdbcType="VARCHAR"      column="REQ_TYPE_NAME"/>-->
        <!--<result property="rmdNo"                jdbcType="VARCHAR"      column="RMD_NO"/>-->
        <!--<result property="crNo"                 jdbcType="VARCHAR"      column="CR_NO"/>-->
        <!--<result property="preUpdDate"           jdbcType="TIMESTAMP"    column="PRE_UPD_DATE"/>-->
        <!--<result property="updateTime"           jdbcType="TIMESTAMP"    column="UPDATE_TIME"/>-->
        <!--<result property="proCategory"          jdbcType="TIMESTAMP"    column="PRO_CATEGORY"/>-->
        <!--<result property="thirdSysKey"          jdbcType="TIMESTAMP"    column="THIRD_SYS_KEY"/>-->
        <!--<result property="auditFlag"            jdbcType="VARCHAR"      column="AUDIT_FLAG"/>-->
        <!--<result property="auditFlagName"        jdbcType="VARCHAR"      column="AUDIT_FLAG_NAME"/>-->
        <!--<result property="taskPercent"          jdbcType="FLOAT"        column="TASK_PERCENT"/>-->
        <!--<result property="auditRemark"          jdbcType="VARCHAR"     	column="AUDIT_REMARK"/>-->
        <!--<result property="bsfSysKey"          	jdbcType="VARCHAR"     	column="BSF_SYS_KEY"/>-->
        <!--<result property="rmdSysKey"          	jdbcType="VARCHAR"     	column="RMD_SYS_KEY"/>-->
        <!--&lt;!&ndash; 需求来源 &ndash;&gt;-->
        <!--<result property="demandSourceId"             jdbcType="VARCHAR"      column="DEMAND_SOURCE_ID"/>-->
        <!--<result property="demandSource"             jdbcType="VARCHAR"      column="DEMAND_SOURCE"/>-->
        <!--<result property="cdemandSource"             jdbcType="VARCHAR"      column="CDEMAND_SOURCE"/>-->
        <!--<result property="productLine"             jdbcType="VARCHAR"      column="PRODUCT_LINE"/>-->


        <!--<result property="monthBeginFeedbackResult"		jdbcType="VARCHAR"		column="MONTH_BEGIN_FEEDBACK_RESULT"/>-->
        <!--<result property="monthBeginFeedbackRemark"		jdbcType="VARCHAR"      column="MONTH_BEGIN_FEEDBACK_REMARK"/>-->
        <!--<result property="monthBeginCompletePercent"   	jdbcType="FLOAT"      	column="MONTH_BEGIN_COMPLETE_PERCENT"/>-->
        <!--<result property="monthBeginStatusId"   		jdbcType="VARCHAR"      column="MONTH_BEGIN_STATUS_ID"/>-->
        <!--<result property="monthEndFeedbackResult"   	jdbcType="VARCHAR"      column="MONTH_END_FEEDBACK_RESULT"/>-->
        <!--<result property="monthEndFeedbackRemark"   	jdbcType="VARCHAR"      column="MONTH_END_FEEDBACK_REMARK"/>-->
        <!--<result property="monthEndCompletePercent"   	jdbcType="FLOAT"      	column="MONTH_END_COMPLETE_PERCENT"/>-->
        <!--<result property="monthEndStatusId"   			jdbcType="VARCHAR"      column="MONTH_END_STATUS_ID"/>-->
        <!--<result property="sourceMonthPerson"   			jdbcType="DOUBLE"      column="SOURCE_MONTH_PERSON"/>-->
        <!--<result property="workloadDayPerson"   			jdbcType="DOUBLE"      column="WORKLOAD_DAY_PERSON"/>-->

        <!--<result property="actualDate"           jdbcType="TIMESTAMP"    column="ACTUAL_DATE"/>-->
        <!--<result property="crStatusId"          	jdbcType="VARCHAR"     	column="CR_STATUS_ID"/>-->
        <!--<result property="crStatusName"          	jdbcType="VARCHAR"     	column="CR_STATUS_NAME"/>-->
        <!--<result property="actualPeople"          	jdbcType="VARCHAR"     	column="actual_people"/>-->
    <!--</resultMap>-->

    <sql id="Base_Column_List">
       pro_number ,pro_need ,pro_type ,pro_date,application_dept,pro_applicant,applicant_tel,pro_module,business_principal ,base_principal,
       pro_manager,pro_status ,is_up_database ,is_up_structure, pro_operation ,is_ref_cerificate ,is_advance_production , not_advance_reason ,
       pro_advance_result ,not_production_impact,identifier,identifier_tel ,pro_checker,checker_tel ,validation,development_leader,approver,update_operator, remark ,
	   unusual_reason_phrase,urgent_reason_phrase ,completion_update,early_implementation,influence_use,
	   influence_use_reason,influence_use_inf,operating_time,production_deployment_result,is_operation_production,mail_recipient,mail_copy_person,
	   pro_pkg_status,pro_pkg_time,pro_pkg_name,mail_leader,svntab_name
    </sql>


    <sql id="Base_Column_List_One">
        SUB_TASK_ID,
        PROPOSED_DATE,
        CREATE_DATE,
        PRODUCT_TYPE_ID,
        TASK_NAME,
        TASK_DESCRIPTION,
        COMPLETE_DATE,
        BASE_CHARGE,
        GAOY_CHARGE,
        CHARGE_DEPT_ID,
        COMPLETE_PERCENT,
        STATUS_ID,
        CYCLE_CATEGORY,
        PRO_MANAGER,
        REQ_TYPE,
        RMD_NO,
        CR_NO,
        PRE_UPD_DATE,
        PRO_CATEGORY,
        THIRD_SYS_KEY,
        AUDIT_FLAG,
        AUDIT_REMARK,
        BSF_SYS_KEY,
        RMD_SYS_KEY,
        actual_people,
        cr_status_name,
        actual_date
    </sql>

    <select id="findMailGroupBeanDetail" resultMap="mm" parameterType="string">
    	SELECT
    	mail_group_id,mail_group_name,mail_user,mail_group_desc,group_time
    	FROM t_mail_group t1
    	WHERE mail_group_id = #{mailGroupId}
    </select>

    <insert id="addMailFlow"  parameterType="com.cmpay.lemon.monitor.entity.sendemail.MailFlowDO">
    	insert into  t_mail_flow(mail_serial_number,mail_subject,mail_sender,mail_receiver,mail_annex,mail_send_content,flow_time)
    	values(
    	    #{mailSerialNumber},
    		#{mailSubject},
    		#{mailSender},
    		#{mailReceiver},
    		#{mailAnnex},
    		#{mailSendContent},
    		#{flowTime}
    		)
    </insert>

    <select id="findPageBreakByCondition" resultMap="rm" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        from  t_production_records t1
        WHERE 1=1
        <if test="proNumber != null and proNumber != ''">
            and pro_number LIKE CONCAT('%',#{proNumber},'%')
        </if>
        <if test="proNeed != null and proNeed != ''">
            and pro_need LIKE CONCAT('%',#{proNeed},'%')
        </if>
        <if test="isOperationProduction != null and isOperationProduction != ''">
            and is_operation_production = #{isOperationProduction}
        </if>
        <if test="isAdvanceProduction != null and isAdvanceProduction != ''">
            and is_advance_production = #{isAdvanceProduction}
        </if>
        <if test="proApplicant != null and proApplicant != ''">
            and pro_applicant LIKE CONCAT('%',#{proApplicant},'%')
        </if>
        <if test="proType != null and proType != ''">
            and pro_type = #{proType}
        </if>
        <if test="proDateStart != null and proDateEnd != null  ">
            and pro_date between #{proDateStart} and #{proDateEnd}
        </if>
        <if test="proDate != null ">
            and pro_date = #{proDate}
        </if>
        <if test="proAdvanceResult != null and proAdvanceResult != ''">
            and pro_advance_result = #{proAdvanceResult}
        </if>
        <if test="proStatus != null and proStatus != ''">
            and pro_status = #{proStatus}
        </if>
        <if test="productionDeploymentResult != null and productionDeploymentResult != ''">
            and production_deployment_result = #{productionDeploymentResult}
        </if>
        <if test="proPkgStatus != null and proPkgStatus != ''">
            and pro_pkg_status = #{proPkgStatus}
        </if>
        <if test="applicationDept != null and applicationDept != ''">
            and application_dept = #{applicationDept}
        </if>
        order by pro_date desc
    </select>

    <!--<select id="findSubTaskBean" parameterType="string" resultMap="tm">-->
        <!--SELECT (SELECT DEPT_NAME-->
        <!--FROM t_permi_dept t-->
        <!--WHERE t.DEPT_ID = a.CHARGE_DEPT_ID) AS CHARGE_DEPT_NAME,-->
        <!--(SELECT VALUE-->
        <!--FROM t_permi_dic_data t-->
        <!--WHERE t.NAME = a.PRODUCT_TYPE_ID-->
        <!--AND t.DIC_ID = 'PRODUCT_TYPE_NAME') AS PRODUCT_TYPE_NAME,-->
        <!--(SELECT VALUE-->
        <!--FROM t_permi_dic_data t-->
        <!--WHERE t.NAME = a.CYCLE_CATEGORY-->
        <!--AND t.DIC_ID = 'CYCLE_CATEGORY') AS CYCLE_CATEGORY_NAME,-->
        <!--(SELECT VALUE-->
        <!--FROM t_permi_dic_data t-->
        <!--WHERE t.NAME = a.STATUS_ID-->
        <!--AND t.DIC_ID = 'STATUS_ID') AS STATUS_NAME,-->
        <!--(SELECT VALUE-->
        <!--FROM t_permi_dic_data t-->
        <!--WHERE t.NAME = a.REQ_TYPE-->
        <!--AND t.DIC_ID = 'REQ_TYPE') AS REQ_TYPE_NAME,-->
        <!--(SELECT VALUE-->
        <!--FROM t_permi_dic_data t-->
        <!--WHERE t.NAME = a.DEMAND_SOURCE-->
        <!--AND t.DIC_ID='DEMAND_SOURCES') AS DEMAND_SOURCE,-->
        <!--(SELECT VALUE-->
        <!--FROM t_permi_dic_data t-->
        <!--WHERE t.NAME = a.PRODUCT_LINE-->
        <!--AND t.DIC_ID='PRODUCT_LINE ') AS PRODUCT_LINE,-->
        <!--a.CDEMAND_SOURCE AS CDEMAND_SOURCE,-->
        <!--<include refid="Base_Column_List_One"/>-->
        <!--FROM t_assess_task_sub a-->
        <!--WHERE a.rmd_no =#{pro_number}-->
        <!--LIMIT 1-->
    <!--</select>-->


    <insert id="insertProduction"  parameterType="com.cmpay.lemon.monitor.entity.ProductionDO">
        insert into  t_production_records(<include refid="Base_Column_List"/>)
        values(#{proNumber},
        #{proNeed},
        #{proType},
        #{proDate},
        #{applicationDept},
        #{proApplicant},
        #{applicantTel},
        #{proModule},
        #{businessPrincipal},
        #{basePrincipal},
        #{proManager},
        #{proStatus},
        #{isUpDatabase},
        #{isUpStructure},
        #{proOperation},
        #{isRefCerificate},
        #{isAdvanceProduction},
        #{notAdvanceReason},
        #{proAdvanceResult},
        #{notProductionImpact},
        #{identifier},
        #{identifierTel},
        #{proChecker},
        #{checkerTel},
        #{validation},
        #{developmentLeader},
        #{approver},
        #{updateOperator},
        #{remark},
        #{unusualReasonPhrase},
        #{urgentReasonPhrase},
        #{completionUpdate},
        #{earlyImplementation},
        #{influenceUse},
        #{influenceUseReason},
        #{influenceUseInf},
        #{operatingTime},
        #{productionDeploymentResult},
        #{isOperationProduction},
        #{mailRecipient},
        #{mailCopyPerson},
        '待上传',
        NULL,
        NULL,#{mailLeader},#{svntabName}
        )
    </insert>

    <insert id="insertSchedule"  parameterType="com.cmpay.lemon.monitor.entity.ScheduleDO">
    	insert into  t_production_schedule(pro_number,pro_operator,operation_type,pre_operation,after_operation,operation_reason)
    	values(
    	    #{proNumber},
    		#{proOperator},
    		#{operationType},
    		#{preOperation},
    		#{afterOperation},
    		#{operationReason}
    		)
    </insert>

    <!--<select id="findProAllExcelList" resultMap="sm" parameterType="com.hisun.web.vo.OperationApplicationConditionVO">-->
        <!--SELECT oper_request_content,propose_date,is_ref_sql,sys_oper_type,oper_status,application_sector,-->
        <!--oper_applicant,identifier,development_leader,svntab_name,oper_application_reason,analysis-->
        <!--from  t_operational_application_detail t1-->
        <!--WHERE 1=1-->
        <!--<if test="oper_request_content != null and oper_request_content != ''">-->
            <!--and oper_request_content like "%"#{oper_request_content}"%"-->
        <!--</if>-->
        <!--<if test="po_date_start != null and po_date_start != '' and po_date_end != null and po_date_end != '' ">-->
            <!--and propose_date between #{po_date_start} and #{po_date_end}-->
        <!--</if>-->
        <!--<if test="sys_oper_type != null and sys_oper_type != ''">-->
            <!--and sys_oper_type = #{sys_oper_type}-->
        <!--</if>-->
        <!--<if test="oper_status != null and oper_status != ''">-->
            <!--and oper_status = #{oper_status}-->
        <!--</if>-->
        <!--<if test="oper_applicant != null and oper_applicant != ''">-->
            <!--and oper_applicant like "%"#{oper_applicant}"%"-->
        <!--</if>-->
        <!--order by propose_date desc-->
    <!--</select>-->

    <!--<select id="findExportAllList" resultMap="rm" parameterType="com.hisun.web.vo.OperationApplicationConditionVO">-->
        <!--SELECT pro_number, pro_need, pro_type, pro_date, application_dept,  application_dept, pro_applicant, applicant_tel,-->

        <!--pro_module, business_principal, base_principal, pro_manager, pro_status, is_up_database, is_up_structure, pro_operation,-->

        <!--is_ref_cerificate, is_advance_production, not_advance_reason, pro_advance_result, identifier, identifier_tel, pro_checker,-->

        <!--checker_tel, validation,  development_leader, approver,  update_operator,  remark, urgent_reason_phrase, not_production_impact-->

        <!--from  t_production_records t1-->

        <!--WHERE 1=1-->

        <!--<if test="po_date_start != null and po_date_start != '' and po_date_end != null and po_date_end != '' ">-->
            <!--and pro_date between #{po_date_start} and #{po_date_end}-->
        <!--</if>-->

        <!--order by pro_date desc-->

    <!--</select>-->

    <insert id="insertMailFlow"  parameterType="com.cmpay.lemon.monitor.entity.sendemail.MailFlowBean">
    	insert into  t_mail_flow(mail_serial_number,mail_subject,mail_sender,mail_receiver,mail_annex,mail_send_content,flow_time)
    	values(
    	    #{mail_serial_number},
    		#{mail_subject},
    		#{mail_sender},
    		#{mail_receiver},
    		#{mail_annex},
    		#{mail_send_content},
    		#{flow_time}
    		)
    </insert>


    <!--<insert id="insertMailGroup"  parameterType="com.hisun.persistence.beans.MailGroupBean">-->
    	<!--insert into  t_mail_group(mail_group_name,mail_user,mail_group_desc)-->
    	<!--values(-->
    	    <!--#{mail_group_name},-->
    		<!--#{mail_user},-->
    		<!--#{mail_group_desc}-->
    		<!--)-->
    <!--</insert>-->

    <insert id="insertProblemInfo"  parameterType="com.cmpay.lemon.monitor.entity.ProblemDO">
    	insert into  t_production_problem(pro_number,problem_detail)
    	values(
    	    #{proNumber},
    		#{problemDetail}
    		)
    </insert>

    <update id="updateProblem" parameterType="com.cmpay.lemon.monitor.entity.ProblemDO">
        UPDATE t_production_problem
        SET
        <if test="problemDetail != null and problemDetail != ''">
            problem_detail = #{problemDetail}
        </if>
        WHERE problem_serial_number = #{problemSerialNumber}
    </update>

    <!--<select id="findBaseProductionInfo" resultMap="rm" parameterType="string">-->
        <!--SELECT-->
        <!--<include refid="Base_Column_List"/>-->
        <!--from  t_production_records t1-->
        <!--WHERE-->
        <!--pro_number =#{pro_number}-->
    <!--</select>-->

    <select id="findDeptManager" resultMap="rm" parameterType="string">
    	SELECT
    		dept_name,dept_manager_name
    	from  t_permi_dept t1
    	WHERE
            dept_name = #{dept_name}
    </select>

    <!--<select id="findDeptManagerByUser" resultMap="rm" parameterType="string">-->
    	<!--SELECT t1.dept_name,t1.dept_manager_name-->
         <!--FROM t_permi_dept t1   LEFT JOIN t_permi_user t2 ON t1.dept_id=t2.dept_id-->
         <!--WHERE t2.user_name=#{user_name}-->
    <!--</select>-->

    <select id="findProblemInfo" resultMap="pbm" parameterType="string">
    	SELECT
    		problem_serial_number,pro_number,problem_detail,problem_time
    	from  t_production_problem t1
    	WHERE
            pro_number LIKE CONCAT('%',#{proNumber},'%')
    </select>

    <delete id="deleteProblemInfo" parameterType="string">
    delete from t_production_problem
    where problem_serial_number=#{proNumber1}
    </delete>

    <select id="findPageBreakBySchedule" resultMap="sm" parameterType="map">
        SELECT
        seq_id,pro_number,pro_operator,operation_type,schedule_time,pre_operation,after_operation,operation_reason
        from  t_production_schedule t1
        WHERE 1=1
        <if test="proNumber != null and proNumber != ''">
            and pro_number LIKE CONCAT('%',#{proNumber},'%')
        </if>
        <if test="proOperator != null and proOperator != ''">
            and pro_operator LIKE CONCAT('%',#{proOperator},'%')
        </if>
        order by schedule_time desc
    </select>


    <select id="findOperationExcelList" resultMap="sm" parameterType="int">
    	SELECT
    	seq_id,pro_number,pro_operator,operation_type,schedule_time,pre_operation,after_operation,operation_reason
    	from  t_production_schedule
    	WHERE  seq_id = #{seqId}
    </select>

    <select id="findProExcelList" resultMap="sm" parameterType="string">
	    	SELECT  oper_request_content,propose_date,is_ref_sql,sys_oper_type,oper_status,application_sector
	    	oper_applicant,identifier,development_leader,svntab_name,oper_application_reason,analysis
	    	 FROM t_operational_application_detail where oper_number = #{seqId}
	    </select>

    <!--<select id="findScheduleNumberByCondition" resultType="int" parameterType="map">-->
        <!--SELECT COUNT(1) FROM t_production_schedule-->
        <!--WHERE 1=1-->
        <!--<if test="pro_number != null and pro_number != ''">-->
            <!--and pro_number like "%"#{pro_number}"%"-->
        <!--</if>-->
        <!--<if test="pro_operator != null and pro_operator != ''">-->
            <!--and pro_operator like "%"#{pro_operator}"%"-->
        <!--</if>-->
    <!--</select>-->


    <!---->

    <!--<select id="findProNumber" resultMap="pm">-->
    	<!--SELECT pro_number,pro_status-->
    	<!--from  t_production_records t1-->
    <!--</select>-->

    <select id="findExportExcelList" resultMap="rm" parameterType="string">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_production_records t1
        WHERE pro_number = #{proNumber}
    </select>

    <select id="getListOfUntimelyStatusChanges" resultMap="rm"  >
        select
        <include refid="Base_Column_List" />
        from t_production_records
        <where >
            <if test="proStatus != null" >
                and pro_status = #{proStatus,jdbcType=BIGINT}
            </if>
            <if test="proDate != null" >
                and pro_date > #{proDate,jdbcType=VARCHAR}
            </if>
            ORDER BY application_dept,pro_applicant,pro_date desc
        </where>
    </select>

    <select id="findExportExcelListByDate" resultMap="rm" parameterType="com.cmpay.lemon.monitor.entity.ProductionDO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_production_records t1
        WHERE  1=1
        <if test="proDateStart != null  and proDateEnd != null ">
            and pro_date between #{proDateStart} and #{proDateEnd}
        </if>
        <if test="proType != null and proType != '' ">
            and pro_type = #{proType}
        </if>
        <if test="isOperationProduction != null and isOperationProduction != '' ">
            and is_operation_production = #{isOperationProduction}
        </if>
        <if test="proStatus != null and proStatus != '' ">
            and pro_status = #{proStatus}
        </if>
    </select>

    <select id="findProductionBean" resultMap="rm" parameterType="map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_production_records t1
        WHERE pro_number = #{proNumber}
    </select>
    <!--<select id="findProductionBean1" resultMap="rm" parameterType="string">-->
        <!--SELECT-->
        <!--<include refid="Base_Column_List"/>-->
        <!--FROM t_production_records t1-->
        <!--WHERE pro_number = #{pro_number} and pro_status !='投产取消'-->
    <!--</select>-->

    <select id="findMailGroup" resultMap="mm" parameterType="map">
        SELECT
        mail_group_id,mail_group_name,mail_user,mail_group_desc,group_time
        FROM t_mail_group t1
        WHERE 1=1
        <if test="mailGroupName != null and mailGroupName != ''">
            and mail_group_name like  CONCAT('%',#{mailGroupName},'%')
        </if>
    </select>


    <!--<select id="findMailGroupNumberByCondition" resultType="int" parameterType="map">-->
        <!--SELECT COUNT(1) FROM t_mail_group-->
        <!--WHERE 1=1-->
        <!--<if test="mail_group_name != null and mail_group_name != ''">-->
            <!--and mail_group_name like "%"#{mail_group_name}"%"-->
        <!--</if>-->
    <!--</select>-->

    <!--<select id="findNumberByCondition" resultType="int" parameterType="map">-->
        <!--SELECT COUNT(1) FROM t_production_records-->
        <!--WHERE 1=1-->
        <!--<if test="pro_number != null and pro_number != ''">-->
            <!--and pro_number like "%"#{pro_number}"%"-->
        <!--</if>-->
        <!--<if test="is_operation_production != null and is_operation_production != ''">-->
            <!--and is_operation_production = #{is_operation_production}-->
        <!--</if>-->
        <!--<if test="is_advance_production != null and is_advance_production != ''">-->
            <!--and is_advance_production = #{is_advance_production}-->
        <!--</if>-->
        <!--<if test="pro_applicant != null and pro_applicant != ''">-->
            <!--and pro_applicant = #{pro_applicant}-->
        <!--</if>-->
        <!--<if test="pro_type != null and pro_type != ''">-->
            <!--and pro_type = #{pro_type}-->
        <!--</if>-->
        <!--<if test="pro_date_start != null and pro_date_start != '' and pro_date_end != null and pro_date_end != '' ">-->
            <!--and pro_date between #{pro_date_start} and #{pro_date_end}-->
        <!--</if>-->
        <!--<if test="pro_date != null and pro_date != ''">-->
            <!--and pro_date = #{pro_date}-->
        <!--</if>-->
        <!--<if test="pro_status != null and pro_status != ''">-->
            <!--and pro_status = #{pro_status}-->
        <!--</if>-->
        <!--<if test="pro_advance_result != null and pro_advance_result != ''">-->
            <!--and pro_advance_result = #{pro_advance_result}-->
        <!--</if>-->
        <!--<if test="production_deployment_result != null and production_deployment_result != ''">-->
            <!--and production_deployment_result = #{production_deployment_result}-->
        <!--</if>-->
        <!--<if test="development_dept != null and development_dept != ''">-->
            <!--and development_leader in (SELECT user_name FROM t_permi_dept t1   LEFT JOIN t_permi_user t2 ON t1.dept_id=t2.dept_id-->
            <!--WHERE t1.dept_name=#{development_dept})-->
        <!--</if>-->
    <!--</select>-->

    <select id="searchUserEmail"   resultMap="mf" parameterType="map">
    SELECT user_name,email,email_password FROM t_permi_user WHERE user_name=#{employeeName};
    </select>


    <update id="updateMailGroup" parameterType="com.cmpay.lemon.monitor.entity.sendemail.MailGroupDO">
        UPDATE t_mail_group
        <trim prefix="set" suffixOverrides=",">
            <if test="mailGroupName != null and mailGroupName != ''">
                mail_group_name = #{mailGroupName},
            </if>
            <if test="mailUser != null and mailUser != ''">
                mail_user = #{mailUser},
            </if>
            <if test="mailGroupDesc != null and mailGroupDesc != ''">
                mail_group_desc = #{mailGroupDesc},
            </if>
        </trim>
        WHERE mail_group_id = #{mailGroupId}
    </update>

    <update id="updateProduction" parameterType="com.cmpay.lemon.monitor.entity.ProductionDO">
        UPDATE t_production_records
        SET
        <if test="proPkgTime != null">
            pro_pkg_time = #{proPkgTime},
        </if>
        <if test="proPkgName != null and proPkgName != ''">
            pro_pkg_name = #{proPkgName},
        </if>
        <if test="proPkgStatus != null and proPkgStatus !=''">
            pro_pkg_status = #{proPkgStatus},
        </if>
        <if test="proAdvanceResult != null and proAdvanceResult != ''">
            pro_advance_result=#{proAdvanceResult},
        </if>
        <if test="productionDeploymentResult != null and productionDeploymentResult != ''">
            production_deployment_result=#{productionDeploymentResult},
        </if>
        <if test="proStatus != null and proStatus != ''">
            pro_status = #{proStatus}
        </if>
        WHERE pro_number = #{proNumber}
    </update>

    <update id="updateAllProduction" parameterType="com.cmpay.lemon.monitor.entity.ProductionDO">
        UPDATE t_production_records
        SET
        <if test="proNeed != null and proNeed != ''">
            pro_need  = #{proNeed},
        </if>
        <if test="proType != null and proType != ''">
            pro_type =#{proType},
        </if>
        <if test="proDate != null">
            pro_date=#{proDate},
        </if>
        <if test="applicationDept != null and applicationDept != ''">
            application_dept=#{applicationDept},
        </if>
        <if test="proApplicant != null and proApplicant != ''">
            pro_applicant=#{proApplicant},
        </if>
        <if test="applicantTel != null and applicantTel != ''">
            applicant_tel=#{applicantTel},
        </if>
        <if test="proModule != null and proModule != ''">
            pro_module=#{proModule},
        </if>
        <if test="businessPrincipal != null and businessPrincipal != ''">
            business_principal=#{businessPrincipal},
        </if>
        <if test="basePrincipal != null and basePrincipal != ''">
            base_principal=#{basePrincipal},
        </if>
        <if test="proManager != null and proManager != ''">
            pro_manager=#{proManager},
        </if>
        <if test="isUpDatabase != null and isUpDatabase != ''">
            is_up_database=#{isUpDatabase},
        </if>
        <if test="isUpStructure != null and isUpStructure != ''">
            is_up_structure=#{isUpStructure},
        </if>
        <if test="proOperation != null and proOperation != ''">
            pro_operation=#{proOperation},
        </if>
        <if test="isRefCerificate != null and isRefCerificate != ''">
            is_ref_cerificate=#{isRefCerificate},
        </if>
        <if test="isAdvanceProduction != null and isAdvanceProduction != ''">
            is_advance_production=#{isAdvanceProduction},
        </if>
        <if test="notAdvanceReason != null and notAdvanceReason != ''">
            not_advance_reason=#{notAdvanceReason},
        </if>
        <if test="proAdvanceResult != null and proAdvanceResult != ''">
            pro_advance_result=#{proAdvanceResult},
        </if>
        <if test="notProductionImpact != null and notProductionImpact != ''">
            not_production_impact=#{notProductionImpact},
        </if>
        <if test="identifier != null and identifier != ''">
            identifier=#{identifier},
        </if>
        <if test="identifierTel != null and identifierTel != ''">
            identifier_tel=#{identifierTel},
        </if>
        <if test="proChecker != null and proChecker != ''">
            pro_checker=#{proChecker},
        </if>
        <if test="checkerTel != null and checkerTel != ''">
            checker_tel=#{checkerTel},
        </if>
        <if test="validation != null and validation != ''">
            validation=#{validation},
        </if>
        <if test="developmentLeader != null and developmentLeader != ''">
            development_leader=#{developmentLeader},
        </if>
        <if test="approver != null and approver != ''">
            approver=#{approver},
        </if>
        <if test="updateOperator != null and updateOperator != ''">
            update_operator=#{updateOperator},
        </if>
        <if test="remark != null and remark != ''">
            remark=#{remark},
        </if>
        <if test="unusualReasonPhrase != null and unusualReasonPhrase != ''">
            unusual_reason_phrase=#{unusualReasonPhrase},
        </if>
        <if test="urgentReasonPhrase != null and urgentReasonPhrase != ''">
            urgent_reason_phrase=#{urgentReasonPhrase},
        </if>
        <if test="completionUpdate != null and completionUpdate != ''">
            completion_update=#{completionUpdate},
        </if>
        <if test="earlyImplementation != null and earlyImplementation != ''">
            early_implementation=#{earlyImplementation},
        </if>
        <if test="influenceUse != null and influenceUse != ''">
            influence_use=#{influenceUse},
        </if>
        <if test="influenceUseReason != null and influenceUseReason != ''">
            influence_use_reason=#{influenceUseReason},
        </if>
        <if test="influenceUseInf != null and influenceUseInf != ''">
            influence_use_inf=#{influenceUseInf},
        </if>
        <if test="operatingTime != null and operatingTime != ''">
            operating_time=#{operatingTime},
        </if>
        <if test="productionDeploymentResult != null and productionDeploymentResult != ''">
            production_deployment_result=#{productionDeploymentResult},
        </if>
        <if test="mailRecipient != null and mailRecipient != ''">
            mail_recipient=#{mailRecipient},
        </if>
        <if test="mailCopyPerson != null and mailCopyPerson != ''">
            mail_copy_person = #{mailCopyPerson},
        </if>
        <if test="isOperationProduction != null">
            is_operation_production=#{isOperationProduction},
        </if>
        <if test="mailLeader != null and mailLeader != ''">
            mail_leader = #{mailLeader},
        </if>
        <if test="svntabName != null">
            svntab_name = #{svntabName},
        </if>
        <if test="proStatus != null and proStatus != ''">
            pro_status = #{proStatus}
        </if>

        WHERE pro_number = #{proNumber}
    </update>
    <!--<delete id="deleteMailGroup" parameterType="string">-->
    <!--delete from t_mail_group-->
    <!--where mail_group_id=#{mail_group_id}-->
    <!--</delete>-->

    <!-- 根据人员姓名查询各部门经理邮箱 -->
    <select id="findManagerMailByUserName" resultType="java.lang.String">
        SELECT GROUP_CONCAT(DISTINCT t3.email separator ';') AS email
        FROM t_permi_dept t1
        LEFT JOIN t_permi_user t2 ON t1.dept_id = t2.dept_id
        LEFT JOIN t_permi_user t3 ON t1.dept_manager_name = t3.user_name
        WHERE t3.is_enabled = TRUE AND t2.user_name IN
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <!--<select id="findDayStatus"  parameterType="string" resultMap="pm">-->
	<!--select pro_number from  t_production_records-->
	   <!--where pro_status in ("投产待部署","部署完成待验证","投产验证完成")-->
	   <!--and  date_format(records_time,'%Y-%m-%d')=#{cur_date}-->
	<!--</select>-->


</mapper>
