<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.lemon.monitor.dao.IProductionVerificationIsNotTimelyExtDao" >

    <resultMap id="BaseResultMap" type="com.cmpay.lemon.monitor.entity.ProductionVerificationIsNotTimelyDO" >
        <id column="pro_number" property="proNumber" jdbcType="VARCHAR" />
        <result column="pro_need" property="proNeed" jdbcType="VARCHAR" />
        <result column="pro_type" property="proType" jdbcType="VARCHAR" />
        <result column="validation" property="validation" jdbcType="VARCHAR" />
        <result column="pro_date" property="proDate" jdbcType="VARCHAR" />
        <result column="identifier" property="identifier" jdbcType="VARCHAR" />
        <result column="sum_day" property="sumDay" jdbcType="VARCHAR" />
        <result column="department" property="department" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        pro_number, pro_need, pro_type, validation, pro_date, identifier, sum_day, department
    </sql>

    <select id="findMonth" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.ProductionVerificationIsNotTimelyDO" >
        select
        <include refid="Base_Column_List" />
        from t_production_verification_isnot_time
        <where >
            <if test="proNumber != null" >
                and pro_number = #{proNumber,jdbcType=VARCHAR}
            </if>
            <if test="proNeed != null" >
                and pro_need = #{proNeed,jdbcType=VARCHAR}
            </if>
            <if test="proType != null" >
                and pro_type = #{proType,jdbcType=VARCHAR}
            </if>
            <if test="validation != null" >
                and validation = #{validation,jdbcType=VARCHAR}
            </if>
            <if test="proDate != null" >
                and pro_date like CONCAT('%',#{proDate,jdbcType=VARCHAR},'%')
            </if>
            <if test="identifier != null" >
                and identifier = #{identifier,jdbcType=VARCHAR}
            </if>
            <if test="sumDay != null" >
                and sum_day = #{sumDay,jdbcType=VARCHAR}
            </if>
            <if test="department != null" >
                and department = #{department,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="findWeek" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.ProductionVerificationIsNotTimelyDO" >
        select
        <include refid="Base_Column_List" />
        from t_production_verification_isnot_time
        <where >
            <if test="proNumber != null" >
                and pro_number = #{proNumber,jdbcType=VARCHAR}
            </if>
            <if test="proNeed != null" >
                and pro_need = #{proNeed,jdbcType=VARCHAR}
            </if>
            <if test="proType != null" >
                and YEARWEEK(pro_type) = YEARWEEK(#{proType,jdbcType=VARCHAR})
            </if>
            <if test="validation != null" >
                and validation = #{validation,jdbcType=VARCHAR}
            </if>
            <if test="proDate != null" >
                and pro_date = #{proDate,jdbcType=VARCHAR}
            </if>
            <if test="identifier != null" >
                and identifier = #{identifier,jdbcType=VARCHAR}
            </if>
            <if test="sumDay != null" >
                and sum_day = #{sumDay,jdbcType=VARCHAR}
            </if>
            <if test="department != null" >
                and department = #{department,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>
