<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.lemon.monitor.dao.IQuantitativeDataExtDao" >

    <resultMap id="BaseResultMap" type="com.cmpay.lemon.monitor.entity.QuantitativeDataDO" >
        <id column="quantitative_id" property="quantitativeId" jdbcType="BIGINT" />
        <result column="firstLevel_organization" property="firstlevelOrganization" jdbcType="VARCHAR" />
        <result column="req_impl_mon" property="reqImplMon" jdbcType="VARCHAR" />
        <result column="function_points_assess_workload" property="functionPointsAssessWorkload" jdbcType="VARCHAR" />
        <result column="cost_coefficients_sum" property="costCoefficientsSum" jdbcType="VARCHAR" />
        <result column="input_output_ratio" property="inputOutputRatio" jdbcType="VARCHAR" />
        <result column="target_completion_rate" property="targetCompletionRate" jdbcType="VARCHAR" />
        <result column="product_release_rate" property="productReleaseRate" jdbcType="VARCHAR" />
        <result column="documents_output_number" property="documentsOutputNumber" jdbcType="INTEGER" />
        <result column="projects_not_completed_number" property="projectsNotCompletedNumber" jdbcType="INTEGER" />
        <result column="projects_documents_not_completed_number" property="projectsDocumentsNotCompletedNumber" jdbcType="INTEGER" />
        <result column="work_not_completed_number" property="workNotCompletedNumber" jdbcType="INTEGER" />
        <result column="unstandardized_feedback_works_number" property="unstandardizedFeedbackWorksNumber" jdbcType="INTEGER" />
        <result column="not_timely_input_production_number" property="notTimelyInputProductionNumber" jdbcType="INTEGER" />
        <result column="defect_rate" property="defectRate" jdbcType="VARCHAR" />
        <result column="data_change_problems_number" property="dataChangeProblemsNumber" jdbcType="INTEGER" />
        <result column="production_problems_number" property="productionProblemsNumber" jdbcType="INTEGER" />
        <result column="smoke_test_failed" property="smokeTestFailed" jdbcType="INTEGER" />
        <result column="version_update_issues" property="versionUpdateIssues" jdbcType="INTEGER" />
        <result column="base_awarded_marks" property="baseAwardedMarks" jdbcType="INTEGER" />
        <result column="praise_awarded_marks" property="praiseAwardedMarks" jdbcType="INTEGER" />
        <result column="quality_awarded_marks" property="qualityAwardedMarks" jdbcType="INTEGER" />
        <result column="innovate_awarded_marks" property="innovateAwardedMarks" jdbcType="INTEGER" />
        <result column="base_deduct_marks" property="baseDeductMarks" jdbcType="INTEGER" />
        <result column="criticism_deduct_marks" property="criticismDeductMarks" jdbcType="INTEGER" />
        <result column="fund_loss" property="fundLoss" jdbcType="INTEGER" />
        <result column="working_attitude" property="workingAttitude" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        quantitative_id, firstLevel_organization, req_impl_mon, function_points_assess_workload,
        cost_coefficients_sum, input_output_ratio, target_completion_rate, product_release_rate,
        documents_output_number, projects_not_completed_number, projects_documents_not_completed_number,
        work_not_completed_number, unstandardized_feedback_works_number, not_timely_input_production_number,
        defect_rate, data_change_problems_number, production_problems_number, smoke_test_failed,
        version_update_issues, base_awarded_marks, praise_awarded_marks, quality_awarded_marks,
        innovate_awarded_marks, base_deduct_marks, criticism_deduct_marks, fund_loss, working_attitude,
        remark
    </sql>



    <select id="findOne" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.QuantitativeDataDO" >
        select
        <include refid="Base_Column_List" />
        from t_quantitative_data
        <where >
            <if test="firstlevelOrganization != null" >
                and firstLevel_organization = #{firstlevelOrganization,jdbcType=VARCHAR}
            </if>
            <if test="reqImplMon != null" >
                and req_impl_mon = #{reqImplMon,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>
