<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmpay.lemon.monitor.dao.IReqDataCountDao">
	<resultMap id="rt" type="com.cmpay.lemon.monitor.entity.ReqDataCountDO">
		<result property="reqPrd" jdbcType="VARCHAR" column="req_prd" />
		<result property="reqDevp" jdbcType="VARCHAR" column="req_devp" />
		<result property="reqTest" jdbcType="VARCHAR" column="req_test" />
		<result property="reqPre" jdbcType="VARCHAR" column="req_pre" />
		<result property="reqOper" jdbcType="VARCHAR" column="req_oper" />
		<result property="reqIng" jdbcType="VARCHAR" column="req_ing" />
		<result property="reqUsual" jdbcType="VARCHAR" column="req_usual" />
		<result property="reqUnusual" jdbcType="VARCHAR" column="req_unusual" />
		<result property="reportStartMon" jdbcType="VARCHAR" column="report_start_mon" />
		<result property="reportEndMon" jdbcType="VARCHAR" column="report_end_mon" />
		<result property="reqPrdLine" jdbcType="VARCHAR" column="req_prd_line" />
		<result property="devpLeadDept" jdbcType="VARCHAR" column="devp_lead_dept" />
		<result property="total" jdbcType="VARCHAR" column="total" />
		<result property="reqTotal" jdbcType="VARCHAR" column="req_total" />
		<result property="reqFinish" jdbcType="VARCHAR" column="req_finish" />
		<result property="reqSuspend" jdbcType="VARCHAR" column="req_suspend" />
		<result property="reqCancel" jdbcType="VARCHAR" column="req_cancel" />
		<result property="reqAbnormal" jdbcType="VARCHAR" column="req_abnormal" />
		<result property="reqFinishRate" jdbcType="VARCHAR" column="req_finish_rate" />
		<result property="reqIncre" jdbcType="VARCHAR" column="req_Incre" />
		<result property="reqStock" jdbcType="VARCHAR" column="req_stock" />
		<result property="reqReplace" jdbcType="VARCHAR" column="req_replace" />
		<result property="reqJump" jdbcType="VARCHAR" column="req_jump" />

		<result property="reqAcceptance" jdbcType="VARCHAR" column="req_acceptance" />
		<result property="reqInaccuracyRate" jdbcType="VARCHAR" column="req_inaccuracy_rate" />
		<result property="reqAbnormalRate" jdbcType="VARCHAR" column="req_abnormal_rate" />


		<result property="financeDevp" jdbcType="VARCHAR" column="finance_devp" />
		<result property="qualityDevp" jdbcType="VARCHAR" column="quality_devp" />
		<result property="innoDevp" jdbcType="VARCHAR" column="inno_devp" />
		<result property="elecDevp" jdbcType="VARCHAR" column="elec_devp" />
		<result property="riskDevp" jdbcType="VARCHAR" column="risk_devp" />
		<result property="financialDevp" jdbcType="VARCHAR" column="financial_devp" />
		<result property="commDevp" jdbcType="VARCHAR" column="comm_devp" />
		<result property="infoDevp" jdbcType="VARCHAR" column="info_devp" />
		<result property="busiDevp" jdbcType="VARCHAR" column="busi_devp" />
		<result property="goveDevp" jdbcType="VARCHAR" column="gove_devp" />
		<result property="firstLevelOrganization" jdbcType="VARCHAR" column="firstLevelOrganization" />
	</resultMap>

	<resultMap id="BaseResultMap" type="com.cmpay.lemon.monitor.entity.DemandDO">
		<result property="reqInnerSeq" jdbcType="VARCHAR" column="req_inner_seq" />
		<result property="reqPrdLine" jdbcType="VARCHAR" column="req_prd_line" />
		<result property="reqType" jdbcType="VARCHAR" column="req_type" />
		<result property="reqSts" jdbcType="VARCHAR" column="req_sts" />
		<result property="reqNo" jdbcType="VARCHAR" column="req_no" />
		<result property="reqNm" jdbcType="VARCHAR" column="req_nm" />
		<result property="reqDesc" jdbcType="VARCHAR" column="req_desc" />
		<result property="inputRes" jdbcType="INTEGER" column="input_res" />
		<result property="devCycle" jdbcType="INTEGER" column="dev_cycle" />
		<result property="expInput" jdbcType="DOUBLE" column="exp_input" />
		<result property="prdFinshTm" jdbcType="VARCHAR" column="prd_finsh_tm" />
		<result property="actPrdFinshTm" jdbcType="VARCHAR" column="act_prd_finsh_tm" />
		<result property="preCurPeriod" jdbcType="VARCHAR" column="pre_cur_period" />
		<result property="curMonTarget" jdbcType="VARCHAR" column="cur_mon_target" />
		<result property="expPrdReleaseTm" jdbcType="VARCHAR" column="exp_prd_release_tm" />
		<result property="devpLeadDept" jdbcType="VARCHAR" column="devp_lead_dept" />
		<result property="devpCoorDept" jdbcType="VARCHAR" column="devp_coor_dept" />
		<result property="reqProDept" jdbcType="VARCHAR" column="req_pro_dept" />
		<result property="reqProposer" jdbcType="VARCHAR" column="req_proposer" />
		<result property="reqMnger" jdbcType="VARCHAR" column="req_mnger" />
		<result property="reqStartMon" jdbcType="VARCHAR" column="req_start_mon" />
		<result property="reqImplMon" jdbcType="VARCHAR" column="req_impl_mon" />
		<result property="projectMng" jdbcType="VARCHAR" column="project_mng" />
		<result property="productMng" jdbcType="VARCHAR" column="product_mng" />
		<result property="isCut" jdbcType="VARCHAR" column="is_cut" />
		<result property="preMonPeriod" jdbcType="VARCHAR" column="pre_mon_period" />
		<result property="qaMng" jdbcType="VARCHAR" column="qa_mng" />
		<result property="configMng" jdbcType="VARCHAR" column="config_mng" />
		<result property="monRemark" jdbcType="VARCHAR" column="mon_remark" />
		<result property="devpEng" jdbcType="VARCHAR" column="devp_eng" />
		<result property="frontEng" jdbcType="VARCHAR" column="front_eng" />
		<result property="testEng" jdbcType="VARCHAR" column="test_eng" />
		<result property="uatUpdateTm" jdbcType="VARCHAR" column="uat_update_tm" />
		<result property="actUatUpdateTm" jdbcType="VARCHAR" column="act_uat_update_tm" />
		<result property="preTm" jdbcType="VARCHAR" column="pre_tm" />
		<result property="testFinshTm" jdbcType="VARCHAR" column="test_finsh_tm" />
		<result property="actTestFinshTm" jdbcType="VARCHAR" column="act_test_finsh_tm" />
		<result property="riskSolution" jdbcType="VARCHAR" column="risk_solution" />
		<result property="riskFeedbackTm" jdbcType="VARCHAR" column="risk_feedback_tm" />
		<result property="endMonRemark" jdbcType="VARCHAR" column="end_mon_remark" />
		<result property="endFeedbackTm" jdbcType="VARCHAR" column="end_feedback_tm" />
		<result property="totalWorkload" jdbcType="INTEGER" column="total_workload" />
		<result property="leadDeptPro" jdbcType="VARCHAR" column="lead_dept_pro" />
		<result property="coorDeptPro" jdbcType="VARCHAR" column="coor_dept_pro" />
		<result property="leadDeptWorkload" jdbcType="VARCHAR" column="lead_dept_workload" />
		<result property="coorDeptWorkload" jdbcType="VARCHAR" column="coor_dept_workload" />
		<result property="inputWorkload" jdbcType="INTEGER" column="input_workload" />
		<result property="lastInputWorkload" jdbcType="INTEGER" column="last_input_workload" />
		<result property="remainWorkload" jdbcType="INTEGER" column="remain_workload" />
		<result property="monInputWorkload" jdbcType="INTEGER" column="mon_input_workload" />
		<result property="isSvnBuild" jdbcType="VARCHAR" column="is_svn_build" />
		<result property="reqAbnorType" jdbcType="VARCHAR" column="req_abnor_type" />
		<result property="creatTime" jdbcType="TIMESTAMP" column="creat_time" />
		<result property="updateTime" jdbcType="TIMESTAMP" column="update_time" />
		<result property="creatUser" jdbcType="VARCHAR" column="creat_user" />
		<result property="updateUser" jdbcType="VARCHAR" column="update_user" />
		<result property="monRemark" jdbcType="VARCHAR" column="mon_remark" />
		<result property="devpResMng" jdbcType="VARCHAR" column="devp_res_mng" />
		<result property="proId" jdbcType="VARCHAR" column="pro_id" />
		<result property="projectStartTm" jdbcType="VARCHAR" column="project_start_tm" />
		<result property="actPrdUploadTm" jdbcType="VARCHAR" column="act_prd_upload_tm" />
		<result property="actWorkloadUploadTm" jdbcType="VARCHAR" column="act_workload_upload_tm" />
		<result property="actSitUploadTm" jdbcType="VARCHAR" column="act_sit_upload_tm" />
		<result property="actTestCasesUploadTm" jdbcType="VARCHAR" column="act_test_cases_upload_tm" />
		<result property="actUatUploadTm" jdbcType="VARCHAR" column="act_uat_upload_tm" />
		<result property="actPreUploadTm" jdbcType="VARCHAR" column="act_pre_upload_tm" />
		<result property="actProductionUploadTm" jdbcType="VARCHAR" column="act_production_upload_tm" />
		<result property="firstLevelOrganization" jdbcType="VARCHAR" column="firstLevelOrganization" />
		<result property="preCurPeriod2" jdbcType="VARCHAR" column="pre_cur_period2" />

	</resultMap>

	<resultMap id="sm" type="com.cmpay.lemon.monitor.entity.ScheduleDO">
		<result property="seqId"         jdbcType="VARCHAR"      column="seq_id"/>
		<result property="proNumber"         jdbcType="VARCHAR"      column="pro_number"/>
		<result property="proNeed"         jdbcType="VARCHAR"      column="pro_need"/>
		<result property="proOperator"         jdbcType="VARCHAR"      column="pro_operator"/>
		<result property="operationType"  jdbcType="VARCHAR"      column="operation_type"/>
		<result property="scheduleTime"  jdbcType="TIMESTAMP"      column="schedule_time"/>
		<result property="preOperation"  jdbcType="VARCHAR"      column="pre_operation"/>
		<result property="afterOperation"  jdbcType="VARCHAR"      column="after_operation"/>
		<result property="operRequestContent"  jdbcType="VARCHAR"      column="oper_request_content"/>
		<result property="proposeDate"  jdbcType="DATE"      column="propose_date"/>
		<result property="isRefSql"  jdbcType="VARCHAR"      column="is_ref_sql"/>
		<result property="sysOperType"  jdbcType="VARCHAR"      column="sys_oper_type"/>
		<result property="operStatus"  jdbcType="VARCHAR"      column="oper_status"/>
		<result property="applicationSector"  jdbcType="VARCHAR"      column="application_sector"/>
		<result property="identifier"  jdbcType="VARCHAR"      column="identifier"/>
		<result property="developmentLeader"  jdbcType="VARCHAR"      column="development_leader"/>
		<result property="operApplicant"  jdbcType="VARCHAR"      column="oper_applicant"/>
		<result property="svntabName"  jdbcType="VARCHAR"      column="svntab_name"/>
		<result property="operApplicationReason"  jdbcType="VARCHAR"      column="oper_application_reason"/>
		<result property="analysis"  jdbcType="VARCHAR"      column="analysis"/>
		<result property="applicationDept"  jdbcType="VARCHAR"      column="application_dept"/>
		<result property="firstLevelOrganization" jdbcType="VARCHAR" column="firstLevelOrganization" />
	</resultMap>

	<sql id="Base_Column_List">
		req_prd,
		req_devp,
		req_test,
		req_pre,
		req_oper,
		req_ing,
		req_usual,
		req_unusual,
		report_start_mon,
	    report_end_mon,
	    req_prd_line,
	    devp_lead_dept,
	    total,
		req_total,
		req_finish,
		req_suspend,
		req_cancel,
		req_abnormal,
		req_finish_rate,
		req_Incre,
		req_stock,
		req_replace,
		req_jump
	</sql>

	<sql id="Base_Column_List1" >
        req_inner_seq ,
		req_prd_line ,
		req_type ,
		req_sts ,
		req_no ,
		req_nm ,
		req_desc ,
		input_res ,
		dev_cycle ,
		exp_input ,
		prd_finsh_tm ,
		act_prd_finsh_tm ,
		pre_cur_period ,
		cur_mon_target ,
		exp_prd_release_tm ,
		devp_lead_dept,
		devp_coor_dept,
		req_pro_dept,
		req_proposer,
		req_mnger,
		devp_res_mng ,
		req_start_mon ,
		req_impl_mon ,
		project_mng ,
		product_mng ,
		is_cut ,
		pre_mon_period ,
		qa_mng ,
		config_mng ,
		mon_remark ,
		devp_eng ,
		front_eng ,
		test_eng ,
		uat_update_tm ,
		act_uat_update_tm ,
		pre_tm ,
		test_finsh_tm ,
		act_test_finsh_tm ,
		risk_solution ,
		risk_feedback_tm ,
		end_mon_remark ,
		end_feedback_tm ,
		total_workload ,
		lead_dept_pro ,
		coor_dept_pro ,
		lead_dept_workload ,
		coor_dept_workload ,
		input_workload ,
		last_input_workload ,
		remain_workload ,
		mon_input_workload ,
		is_svn_build,
		req_abnor_type,
		creat_time ,
		update_time ,
		creat_user ,
		update_user
    </sql>

	<sql id="recJoins">
	</sql>

	<select id="getProg" resultMap="rt">
		SELECT
			sum( CASE WHEN pre_cur_period != '17' THEN 1 ELSE 0 END ) req_ing,
			sum( CASE WHEN pre_cur_period = '17' THEN 1 ELSE 0 END ) req_oper
		FROM
			t_demand_info
		WHERE req_impl_mon BETWEEN #{0} AND #{1}
	</select>

	<select id="getProgDetl" resultMap="rt">
		SELECT
			sum( CASE WHEN pre_cur_period IN ( '01', '02', '03' ) THEN 1 ELSE 0 END ) req_prd,
			sum( CASE WHEN pre_cur_period IN ( '04', '05', '06', '07', '08', '09', '10' ) THEN 1 ELSE 0 END ) req_devp,
			sum( CASE WHEN pre_cur_period IN ( '11', '12', '13' ) THEN 1 ELSE 0 END ) req_test,
			sum( CASE WHEN pre_cur_period IN ( '14', '15', '16' ) THEN 1 ELSE 0 END ) req_pre,
			sum( CASE WHEN pre_cur_period = '17' THEN 1 ELSE 0 END ) req_oper
		FROM
			t_demand_info
		WHERE req_impl_mon BETWEEN #{0} AND #{1}
	</select>

	<select id="getAbnoByDept" resultMap="rt">
		SELECT
			devp_lead_dept,
			#sum( CASE WHEN req_sts != '05' THEN 1 ELSE 0 END ) req_usual,
			sum( CASE WHEN req_sts = '05' THEN 1 ELSE 0 END )	req_unusual
		FROM
			t_demand_info
		WHERE req_impl_mon BETWEEN #{0} AND #{1}
		group by devp_lead_dept
	</select>

	<select id="getAbnoByLine" resultMap="rt">
		SELECT
			(SELECT VALUE FROM t_permi_dic_data t
			WHERE t.NAME = req_prd_line AND t.DIC_ID='PRD_LINE') AS req_prd_line,
			#sum( CASE WHEN req_sts != '05' THEN 1 ELSE 0 END ) req_usual,
			sum( CASE WHEN req_sts = '05' THEN 1 ELSE 0 END )	req_unusual
		FROM
			t_demand_info
		WHERE req_impl_mon BETWEEN #{0} AND #{1}
		group by req_prd_line
	</select>

	<select id="getProgByDept" resultMap="rt">
		SELECT
			devp_lead_dept,
			sum( CASE WHEN pre_cur_period != '17' THEN 1 ELSE 0 END ) req_ing,
			sum( CASE WHEN pre_cur_period = '17' THEN 1 ELSE 0 END ) req_oper
		FROM
			t_demand_info
		WHERE req_impl_mon BETWEEN #{0} AND #{1}
		group by devp_lead_dept
	</select>

	<select id="getProgDetlByDept" resultMap="rt">
		SELECT
			devp_lead_dept,
			sum( CASE WHEN pre_cur_period IN ( '01', '02', '03' ) THEN 1 ELSE 0 END ) req_prd,
			sum( CASE WHEN pre_cur_period IN ( '04', '05', '06', '07', '08', '09', '10' ) THEN 1 ELSE 0 END ) req_devp,
			sum( CASE WHEN pre_cur_period IN ( '11', '12', '13' ) THEN 1 ELSE 0 END ) req_test,
			sum( CASE WHEN pre_cur_period IN ( '14', '15', '16' ) THEN 1 ELSE 0 END ) req_pre,
			sum( CASE WHEN pre_cur_period = '17' THEN 1 ELSE 0 END ) req_oper
		FROM
			t_demand_info
		WHERE req_impl_mon BETWEEN #{0} AND #{1}
		group by devp_lead_dept
	</select>

	<select id="getImpl" resultMap="rt">
		SELECT
			sum( CASE WHEN pre_cur_period IN ( '10', '20', '30' ) THEN 1 ELSE 0 END ) req_prd,
			sum( CASE WHEN pre_cur_period IN ( '40', '50', '80', '90', '100', '110' ) THEN 1 ELSE 0 END ) req_devp,
			sum( CASE WHEN pre_cur_period IN ( '60', '70', '120', '130', '140' ) THEN 1 ELSE 0 END ) req_test,
			sum( CASE WHEN pre_cur_period IN ( '150', '160', '170' ) THEN 1 ELSE 0 END ) req_pre,
			sum( CASE WHEN pre_cur_period = '180' THEN 1 ELSE 0 END ) req_oper
		FROM
			t_demand_info
		WHERE req_impl_mon = #{0}
		  and req_sts not in ( '30', '40','60' )
	</select>

	<select id="getImplByDept" resultMap="rt">
		SELECT
		(SELECT firstLevelOrganization FROM t_organization_structure t WHERE t.secondLevelOrganization = devp_lead_dept) AS 		firstLevelOrganization,
			CASE WHEN coalesce (devp_lead_dept,'') = '' THEN '无' ELSE devp_lead_dept END devp_lead_dept,
			sum( CASE WHEN pre_cur_period IN ( '10', '20', '30' ) THEN 1 ELSE 0 END ) req_prd,
			sum( CASE WHEN pre_cur_period IN ( '40', '50', '80', '90', '100', '110' ) THEN 1 ELSE 0 END ) req_devp,
			sum( CASE WHEN pre_cur_period IN ( '60', '70', '120', '130', '140' ) THEN 1 ELSE 0 END ) req_test,
			sum( CASE WHEN pre_cur_period IN ( '150', '160', '170' ) THEN 1 ELSE 0 END ) req_pre,
			sum( CASE WHEN pre_cur_period = '180' THEN 1 ELSE 0 END ) req_oper,
			sum( CASE WHEN pre_cur_period is not null and pre_cur_period != '' THEN 1 ELSE 0 END )  total
		FROM
			t_demand_info
		WHERE req_impl_mon = #{0}
		  and req_sts not in ( '30', '40','60' )
		GROUP BY (CASE WHEN coalesce (devp_lead_dept,'') = '' THEN '无' ELSE devp_lead_dept END	)
	</select>

	<select id="getComp" resultMap="rt">
			select a.*,
               round( a.req_total - a.req_suspend - a.req_cancel ) req_acceptance,
               concat(round( ((a.req_suspend + a.req_cancel) / a.req_total )* 100 , 2 ),'%') req_inaccuracy_rate,
               concat(round( ( req_abnormal / ( a.req_total - a.req_suspend - a.req_cancel ) )* 100 , 2 ),'%') req_abnormal_rate,
			   concat(round( ( a.req_finish / ( a.req_total - a.req_suspend - a.req_cancel ) )* 100 , 2 ), '%' ) req_finish_rate,
			   concat(round( a.req_oper / (a.req_total  - a.req_suspend - a.req_cancel ) * 100 , 2 ), '%' ) total
		from (
				SELECT
					count(*) req_total,
					sum( CASE WHEN req_sts = '50' or pre_cur_period = '180' THEN 1 ELSE 0 END )req_oper,
					(sum( CASE WHEN req_sts = '50' or pre_cur_period = '180' or -cur_mon_target  >= -pre_cur_period  THEN 1 ELSE 0 END ) - sum( CASE WHEN (req_sts = '40' OR req_sts = '30') AND -cur_mon_target  >= -pre_cur_period THEN 1 ELSE 0 END ) ) req_finish,
					sum( CASE WHEN req_sts = '40' THEN 1 ELSE 0 END ) req_suspend,
					sum( CASE WHEN req_sts = '30' THEN 1 ELSE 0 END ) req_cancel,
					sum( CASE WHEN req_abnor_type not like '%01%' THEN 1 ELSE 0 END ) req_abnormal
				FROM
					t_demand_info
				WHERE req_impl_mon =#{0} and req_sts!='60'
		)a
	</select>




	<select id="getCompByDept" resultMap="rt">
		select a.*,
		(SELECT firstLevelOrganization FROM t_organization_structure t WHERE t.secondLevelOrganization = devp_lead_dept) AS 		firstLevelOrganization,
               round( a.req_total - a.req_suspend - a.req_cancel ) req_acceptance,
               concat(round( ((a.req_suspend + a.req_cancel) / a.req_total )* 100 , 2 ),'%') req_inaccuracy_rate,
               concat(round( ( req_abnormal / ( a.req_total - a.req_suspend - a.req_cancel ) )* 100 , 2 ),'%') req_abnormal_rate,
			   concat(round( ( a.req_finish / ( a.req_total - a.req_suspend - a.req_cancel ) )* 100 , 2 ), '%' ) req_finish_rate,
			   concat(round( a.req_oper / (a.req_total  - a.req_suspend - a.req_cancel ) * 100 , 2 ), '%' ) total
		from (
				SELECT
					CASE WHEN coalesce (devp_lead_dept,'') = '' THEN '无' ELSE devp_lead_dept END devp_lead_dept,
					count(*) req_total,
					sum( CASE WHEN req_sts = '50' or pre_cur_period = '180' THEN 1 ELSE 0 END )req_oper,
					(sum( CASE WHEN req_sts = '50' or pre_cur_period = '180' or -cur_mon_target >= -pre_cur_period THEN 1 ELSE 0 END  ) - sum( CASE WHEN (req_sts = '40' OR req_sts = '30') AND -cur_mon_target >= -pre_cur_period THEN 1 ELSE 0 END  ) ) req_finish,
					sum( CASE WHEN req_sts = '40' THEN 1 ELSE 0 END ) req_suspend,
					sum( CASE WHEN req_sts = '30' THEN 1 ELSE 0 END ) req_cancel,
					sum( CASE WHEN req_abnor_type not like '%01%' THEN 1 ELSE 0 END ) req_abnormal
				FROM
					t_demand_info
				WHERE req_impl_mon = #{0} and req_sts!='60'
				GROUP BY (CASE WHEN coalesce (devp_lead_dept,'') = '' THEN '无' ELSE devp_lead_dept END	)
		)a
	</select>
	<select id="getCompByDept2" resultMap="rt">
		select a.*,
               round( a.req_total - a.req_suspend - a.req_cancel ) req_acceptance,
               concat(round( ((a.req_suspend + a.req_cancel) / a.req_total )* 100 , 2 ),'%') req_inaccuracy_rate,
               concat(round( ( req_abnormal / ( a.req_total - a.req_suspend - a.req_cancel ) )* 100 , 2 ),'%') req_abnormal_rate,
			   concat(round( ( a.req_finish / ( a.req_total - a.req_suspend - a.req_cancel ) )* 100 , 2 ), '%' ) req_finish_rate,
			   concat(round( a.req_oper / (a.req_total  - a.req_suspend - a.req_cancel ) * 100 , 2 ), '%' ) total
		from (
				SELECT
				(SELECT firstLevelOrganization FROM t_organization_structure t WHERE t.secondLevelOrganization = devp_lead_dept) AS 		firstLevelOrganization,

					count(*) req_total,
					sum( CASE WHEN req_sts = '50' or pre_cur_period = '180' THEN 1 ELSE 0 END )req_oper,
					(sum( CASE WHEN req_sts = '50' or pre_cur_period = '180' or -cur_mon_target >= -pre_cur_period THEN 1 ELSE 0 END  ) - sum( CASE WHEN (req_sts = '40' OR req_sts = '30') AND -cur_mon_target >= -pre_cur_period THEN 1 ELSE 0 END  ) ) req_finish,
					sum( CASE WHEN req_sts = '40' THEN 1 ELSE 0 END ) req_suspend,
					sum( CASE WHEN req_sts = '30' THEN 1 ELSE 0 END ) req_cancel,
					sum( CASE WHEN req_abnor_type not like '%01%' THEN 1 ELSE 0 END ) req_abnormal
				FROM
					t_demand_info
				WHERE req_impl_mon =#{0} and req_sts!='60'
				GROUP BY (CASE WHEN coalesce (firstLevelOrganization,'') = '' THEN '无' ELSE firstLevelOrganization END	)
		)a
	</select>

	<select id="getReqSts" resultMap="rt">
		SELECT
			sum( CASE WHEN req_type is not null and req_type != '' THEN 1 ELSE 0 END ) req_total,
			sum( CASE WHEN req_type = '01' THEN 1 ELSE 0 END ) req_Incre,
			sum( CASE WHEN req_type = '02' THEN 1 ELSE 0 END ) req_stock,
			sum( CASE WHEN req_type = '03' THEN 1 ELSE 0 END ) req_replace,
			sum( CASE WHEN req_type = '04' THEN 1 ELSE 0 END ) req_jump
		FROM
			t_demand_info
		WHERE req_impl_mon = #{0} and req_sts!='60'
	</select>

	<select id="getProduction" resultMap="sm">
		SELECT
		(SELECT firstLevelOrganization FROM t_organization_structure t WHERE t.secondLevelOrganization = application_dept) AS  firstLevelOrganization,
			t.pro_number 'pro_number' ,
			 p.pro_need 'pro_need' ,
			 p.application_dept 'application_dept',
			 t.pro_operator 'pro_operator',
			 t.schedule_time 'schedule_time'
		FROM
			t_production_schedule t ,t_production_records p
		where after_operation ='投产待审批'
		 and operation_type = '录入'
		and t.pro_number = p.pro_number
		and schedule_time LIKE CONCAT('%',#{0},'%')
	</select>

	<select id="getReportForm6" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.ReqDateCountDO">
		select DISTINCT a.req_no 'req_no',
		a.req_nm 'req_nm',
		a.project_start_tm 'project_start_tm',
		a.act_prd_upload_tm 'act_prd_upload_tm',
		a.act_workload_upload_tm 'act_workload_upload_tm' ,
		a.act_sit_upload_tm 'act_sit_upload_tm' ,
		a.act_test_cases_upload_tm 'act_test_cases_upload_tm',
		a.act_uat_upload_tm 'act_uat_upload_tm',
		a.act_pre_upload_tm 'act_pre_upload_tm',
		a.act_production_upload_tm 'act_production_upload_tm',
		(SELECT firstLevelOrganization FROM t_organization_structure t WHERE t.secondLevelOrganization = devp_lead_dept) AS  'firstLevelOrganization' ,
		b.devp_lead_dept 'devp_lead_dept',
		b.product_mng 'product_mng',
		b.devp_eng 'devp_eng',
		b.front_eng 'front_eng',
		b.test_eng 'test_eng',
		b.pre_cur_period 'pre_cur_period2',
		(select value from t_permi_dic_data where dic_id ='REQ_PEROID' and name =b.pre_cur_period) 'pre_cur_period'
		from t_demand_extra a ,t_demand_info b
		<where>
			a.req_no = b.req_no
			and b.req_sts !=60
			<if test="reqImplMon != null and reqImplMon != ''">
				AND b.req_impl_mon =#{reqImplMon}
			</if>
			<if test="devpLeadDept != null and devpLeadDept != ''">
				AND b.devp_lead_dept = #{devpLeadDept}
			</if>
			<if test="productMng != null and productMng != ''">
				AND b.product_mng = #{productMng}
			</if>
			<if test="firstLevelOrganization != null and firstLevelOrganization != ''">
				AND  b.devp_lead_dept in  ( SELECT secondLevelOrganization FROM t_organization_structure  where firstLevelOrganization = #{firstLevelOrganization}   )
			</if>
		</where>
		  ORDER BY  project_start_tm desc
	</select>

	<select id="getStageByJd" resultMap="rt">
		SELECT * FROM
		(SELECT
			CASE WHEN coalesce (pre_cur_period,'') = ''
			THEN '无'
			ELSE (SELECT VALUE FROM t_permi_dic_data t WHERE t.NAME = pre_cur_period AND t.DIC_ID='REQ_PEROID')
			END req_prd,
			sum( CASE WHEN req_pro_dept = '基地财务部' THEN 1 ELSE 0 END ) finance_devp,
			sum( CASE WHEN req_pro_dept = '产品品质部' THEN 1 ELSE 0 END ) quality_devp,
			sum( CASE WHEN req_pro_dept = '创新支付事业部' THEN 1 ELSE 0 END ) inno_devp,
			sum( CASE WHEN req_pro_dept = '电商事业部' THEN 1 ELSE 0 END ) elec_devp,
			sum( CASE WHEN req_pro_dept = '风险合规部' THEN 1 ELSE 0 END ) risk_devp,
			sum( CASE WHEN req_pro_dept = '金融支付事业部' THEN 1 ELSE 0 END ) financial_devp,
			sum( CASE WHEN req_pro_dept = '通信支付事业部' THEN 1 ELSE 0 END ) comm_devp,
			sum( CASE WHEN req_pro_dept = '信息技术部' THEN 1 ELSE 0 END ) info_devp,
			sum( CASE WHEN req_pro_dept = '业务运营部' THEN 1 ELSE 0 END ) busi_devp,
			sum( CASE WHEN req_pro_dept = '政企支付事业部' THEN 1 ELSE 0 END ) gove_devp,
			sum( CASE WHEN req_pro_dept is not null and req_pro_dept != '' THEN 1 ELSE 0 END ) total
		FROM
			t_demand_info
		WHERE req_impl_mon = #{0}
		  and req_sts not in ( '30', '40','60' )
		GROUP BY req_prd
		ORDER BY pre_cur_period+0 )a
		UNION ALL
		SELECT * FROM
		(SELECT
			'总计' req_prd,
			sum( CASE WHEN req_pro_dept = '基地财务部' THEN 1 ELSE 0 END ) finance_devp,
			sum( CASE WHEN req_pro_dept = '产品品质部' THEN 1 ELSE 0 END ) quality_devp,
			sum( CASE WHEN req_pro_dept = '创新支付事业部' THEN 1 ELSE 0 END ) inno_devp,
			sum( CASE WHEN req_pro_dept = '电商事业部' THEN 1 ELSE 0 END ) elec_devp,
			sum( CASE WHEN req_pro_dept = '风险合规部' THEN 1 ELSE 0 END ) risk_devp,
			sum( CASE WHEN req_pro_dept = '金融支付事业部' THEN 1 ELSE 0 END ) financial_devp,
			sum( CASE WHEN req_pro_dept = '通信支付事业部' THEN 1 ELSE 0 END ) comm_devp,
			sum( CASE WHEN req_pro_dept = '信息技术部' THEN 1 ELSE 0 END ) info_devp,
			sum( CASE WHEN req_pro_dept = '业务运营部' THEN 1 ELSE 0 END ) busi_devp,
			sum( CASE WHEN req_pro_dept = '政企支付事业部' THEN 1 ELSE 0 END ) gove_devp,
			sum( CASE WHEN req_pro_dept is not null and req_pro_dept != '' THEN 1 ELSE 0 END ) total
		FROM
			t_demand_info
		WHERE req_impl_mon = #{0}
		  and req_sts not in ( '30', '40','60' ))b
	</select>

	<select id="selectDetl" resultMap="rt" parameterType="map">
		select req_inner_seq,
			   req_no,
			   req_nm,
			   (SELECT VALUE FROM t_permi_dic_data t WHERE t.NAME = pre_cur_period AND t.DIC_ID='REQ_PEROID') AS pre_cur_period,
			   devp_lead_dept,
			   exp_prd_release_tm,
			   req_abnor_type req_unusual
	 	from t_demand_info
	 	<where>
			<if test="reqImplMon != null and reqImplMon != ''">
				AND req_impl_mon =#{reqImplMon}
			</if>
			<if test="devpLeadDept != null and devpLeadDept != ''">
				AND devp_lead_dept = #{devpLeadDept}
			</if>
			<if test="productMng != null and productMng != ''">
				AND product_mng LIKE CONCAT('%',#{product_mng},'%')
			</if>
			<if test="testEng != null and testEng != ''">
				AND test_eng LIKE CONCAT('%',#{testEng},'%')
			</if>
			<if test="devpEng != null and devpEng != ''">
				AND (devp_eng LIKE CONCAT('%',#{devpEng},'%') or project_mng LIKE CONCAT('%',#{devpEng},'%') )
			</if>
			<if test='preCurPeriod == "1"'>
				AND pre_cur_period IN ( '10', '20', '30' ) and req_sts not in ( '30', '40','60' )
			</if>
			<if test='preCurPeriod == "2"'>
				AND pre_cur_period IN ( '40', '50', '80', '90', '100', '110' ) and req_sts not in ( '30', '40','60' )
			</if>
			<if test='preCurPeriod == "3"'>
				AND pre_cur_period IN ( '60', '70', '120', '130', '140' ) and req_sts not in ( '30', '40','60' )
			</if>
			<if test='preCurPeriod == "4"'>
				AND pre_cur_period IN ( '150', '160', '170' ) and req_sts not in ( '30', '40','60' )
			</if>
			<if test='preCurPeriod == "5"'>
				AND pre_cur_period = '180' and req_sts not in ( '30', '40','60' )
			</if>
			<if test='preCurPeriod == "6" and reqAbnorType != null and reqAbnorType != ""'>
				AND ( uat_update_tm &lt; date_format(SYSDATE(),'%Y-%m-%d')  AND pre_cur_period >= 30 AND  120 > pre_cur_period
				AND req_sts not in ('30','40','60')  AND(ISNULL(prd_finsh_tm)=0) AND  (LENGTH(trim(prd_finsh_tm))>0) AND(ISNULL(uat_update_tm)=0) AND  (LENGTH(trim(uat_update_tm))>0)AND(ISNULL(test_finsh_tm)=0) AND  (LENGTH(trim(test_finsh_tm))>0) AND(ISNULL(pre_cur_period)=0) AND  (LENGTH(trim(pre_cur_period))>0)
				OR( ( (ISNULL(prd_finsh_tm)=1) OR (LENGTH(trim(prd_finsh_tm))&lt;1) OR (ISNULL(uat_update_tm)=1) OR  (LENGTH(trim(uat_update_tm))&lt;1) OR (ISNULL(test_finsh_tm)=1) OR (LENGTH(trim(test_finsh_tm))&lt;1) OR(ISNULL(pre_cur_period)=1) OR (LENGTH(trim(pre_cur_period))&lt;1)) AND req_abnor_type LIKE '%04%' ) )
			</if>
			<if test='preCurPeriod == "6" and (reqAbnorType == null or reqAbnorType == "")'>
				AND ( ( (prd_finsh_tm &lt; date_format(SYSDATE(),'%Y-%m-%d')  AND 30 > pre_cur_period )
				OR (uat_update_tm &lt; date_format(SYSDATE(),'%Y-%m-%d')  AND pre_cur_period >= 30 AND  120 > pre_cur_period )
				OR (test_finsh_tm &lt; date_format(SYSDATE(),'%Y-%m-%d')  AND pre_cur_period >= 120 AND  140 > pre_cur_period ) )
				AND req_sts not in ('30','40','60')
				AND(ISNULL(prd_finsh_tm)=0) AND  (LENGTH(trim(prd_finsh_tm))>0) AND(ISNULL(uat_update_tm)=0) AND  (LENGTH(trim(uat_update_tm))>0)AND(ISNULL(test_finsh_tm)=0) AND  (LENGTH(trim(test_finsh_tm))>0) AND(ISNULL(pre_cur_period)=0) AND  (LENGTH(trim(pre_cur_period))>0)
				OR( ( (ISNULL(prd_finsh_tm)=1) OR (LENGTH(trim(prd_finsh_tm))&lt;1) OR (ISNULL(uat_update_tm)=1) OR  (LENGTH(trim(uat_update_tm))&lt;1) OR (ISNULL(test_finsh_tm)=1) OR (LENGTH(trim(test_finsh_tm))&lt;1) OR(ISNULL(pre_cur_period)=1) OR (LENGTH(trim(pre_cur_period))&lt;1)) AND req_abnor_type NOT LIKE '%01%' ))
			</if>
			<if test='preCurPeriod == "7"'>
				AND req_sts = '30'
			</if>
			<if test='preCurPeriod == "8"'>
				AND req_sts = '40'
			</if>
			<if test='preCurPeriod == "9"'>
				AND pre_cur_period IN ( '10' ) and req_sts not in ( '30', '40','60' )
			</if>
			<if test='preCurPeriod == "10"'>
				AND pre_cur_period IN ( '20' ) and req_sts not in ( '30', '40' ,'60')
			</if>
			<if test='preCurPeriod == "11"'>
				AND pre_cur_period IN ( '30' ) and req_sts not in ( '30', '40' ,'60')
			</if>
			<if test='preCurPeriod == "12"'>
				AND pre_cur_period IN ( '150' ) and req_sts not in ( '30', '40' ,'60')
			</if>
			<if test='preCurPeriod == "13"'>
				AND ( prd_finsh_tm &lt; date_format(SYSDATE(),'%Y-%m-%d')   AND 30 > pre_cur_period
				AND req_sts not in ('30','40','60') AND(ISNULL(prd_finsh_tm)=0) AND  (LENGTH(trim(prd_finsh_tm))>0) AND(ISNULL(uat_update_tm)=0) AND  (LENGTH(trim(uat_update_tm))>0)AND(ISNULL(test_finsh_tm)=0) AND  (LENGTH(trim(test_finsh_tm))>0) AND(ISNULL(pre_cur_period)=0) AND  (LENGTH(trim(pre_cur_period))>0)
				OR( ( (ISNULL(prd_finsh_tm)=1) OR (LENGTH(trim(prd_finsh_tm))&lt;1) OR (ISNULL(uat_update_tm)=1) OR  (LENGTH(trim(uat_update_tm))&lt;1) OR (ISNULL(test_finsh_tm)=1) OR (LENGTH(trim(test_finsh_tm))&lt;1) OR(ISNULL(pre_cur_period)=1) OR (LENGTH(trim(pre_cur_period))&lt;1)) AND req_abnor_type LIKE '%03%' ) )
			</if>
			<if test='preCurPeriod == "14"'>
				AND ( pre_cur_period + 0 ) &lt;= 110 and req_sts not in ( '30', '40' ,'60')
			</if>
			<if test='preCurPeriod == "15"'>
				AND pre_cur_period in ( '120' , '130' ) and req_sts not in ( '30', '40','60')
			</if>
			<if test='preCurPeriod == "16"'>
				AND ( pre_cur_period + 0 ) &gt;= 140 and req_sts not in ( '30', '40' ,'60')
			</if>
			<if test='preCurPeriod == "17"'>
				AND ( test_finsh_tm &lt; date_format(SYSDATE(),'%Y-%m-%d')  AND pre_cur_period >= 120 AND  140 > pre_cur_period
				AND req_sts not in ('30','40','60')  AND(ISNULL(prd_finsh_tm)=0) AND  (LENGTH(trim(prd_finsh_tm))>0) AND(ISNULL(uat_update_tm)=0) AND  (LENGTH(trim(uat_update_tm))>0)AND(ISNULL(test_finsh_tm)=0) AND  (LENGTH(trim(test_finsh_tm))>0) AND(ISNULL(pre_cur_period)=0) AND  (LENGTH(trim(pre_cur_period))>0)
				OR( ( (ISNULL(prd_finsh_tm)=1) OR (LENGTH(trim(prd_finsh_tm))&lt;1) OR (ISNULL(uat_update_tm)=1) OR  (LENGTH(trim(uat_update_tm))&lt;1) OR (ISNULL(test_finsh_tm)=1) OR (LENGTH(trim(test_finsh_tm))&lt;1) OR(ISNULL(pre_cur_period)=1) OR (LENGTH(trim(pre_cur_period))&lt;1)) AND req_abnor_type LIKE '%05%' ) )
			</if>
		</where>
	</select>

	<select id="find" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List1" />
		from t_demand_info
		<where>
			<if test="reqImplMon != null and reqImplMon != ''">
				AND req_impl_mon =#{reqImplMon}
			</if>
			<if test="devpLeadDept != null and devpLeadDept != ''">
				AND devp_lead_dept = #{devpLeadDept}
			</if>
			<if test="productMng != null and productMng != ''">
				AND product_mng LIKE CONCAT('%',#{product_mng},'%')
			</if>
			<if test="testEng != null and testEng != ''">
				AND test_eng LIKE CONCAT('%',#{testEng},'%')
			</if>
			<if test="devpEng != null and devpEng != ''">
				AND (devp_eng LIKE CONCAT('%',#{devpEng},'%') or project_mng LIKE CONCAT('%',#{devpEng},'%') )
			</if>
			<if test='preCurPeriod == "1"'>
				AND pre_cur_period IN ( '10', '20', '30' ) and req_sts not in ( '30', '40' ,'60')
			</if>
			<if test='preCurPeriod == "2"'>
				AND pre_cur_period IN ( '40', '50', '80', '90', '100', '110' ) and req_sts not in ( '30', '40','60' )
			</if>
			<if test='preCurPeriod == "3"'>
				AND pre_cur_period IN ( '60', '70', '120', '130', '140' ) and req_sts not in ( '30', '40' ,'60')
			</if>
			<if test='preCurPeriod == "4"'>
				AND pre_cur_period IN ( '150', '160', '170' ) and req_sts not in ( '30', '40' ,'60')
			</if>
			<if test='preCurPeriod == "5"'>
				AND pre_cur_period = '180' and req_sts not in ( '30', '40' ,'60')
			</if>
			<if test='preCurPeriod == "6" and reqAbnorType != null and reqAbnorType != ""'>
				AND ( uat_update_tm &lt; date_format(SYSDATE(),'%Y-%m-%d')  AND pre_cur_period >= 30 AND  120 > pre_cur_period
				AND req_sts not in ('30','40','60')  AND(ISNULL(prd_finsh_tm)=0) AND  (LENGTH(trim(prd_finsh_tm))>0) AND(ISNULL(uat_update_tm)=0) AND  (LENGTH(trim(uat_update_tm))>0)AND(ISNULL(test_finsh_tm)=0) AND  (LENGTH(trim(test_finsh_tm))>0) AND(ISNULL(pre_cur_period)=0) AND  (LENGTH(trim(pre_cur_period))>0)
				OR( ( (ISNULL(prd_finsh_tm)=1) OR (LENGTH(trim(prd_finsh_tm))&lt;1) OR (ISNULL(uat_update_tm)=1) OR  (LENGTH(trim(uat_update_tm))&lt;1) OR (ISNULL(test_finsh_tm)=1) OR (LENGTH(trim(test_finsh_tm))&lt;1) OR(ISNULL(pre_cur_period)=1) OR (LENGTH(trim(pre_cur_period))&lt;1)) AND req_abnor_type LIKE '%04%' ) )
			</if>
			<if test='preCurPeriod == "6" and (reqAbnorType == null or reqAbnorType == "")'>
				AND ( ( (prd_finsh_tm &lt; date_format(SYSDATE(),'%Y-%m-%d')  AND 30 > pre_cur_period )
				OR (uat_update_tm &lt; date_format(SYSDATE(),'%Y-%m-%d')  AND pre_cur_period >= 30 AND  120 > pre_cur_period )
				OR (test_finsh_tm &lt; date_format(SYSDATE(),'%Y-%m-%d')  AND pre_cur_period >= 120 AND  140 > pre_cur_period ) )
				AND req_sts not in ('30','40','60')
				AND(ISNULL(prd_finsh_tm)=0) AND  (LENGTH(trim(prd_finsh_tm))>0) AND(ISNULL(uat_update_tm)=0) AND  (LENGTH(trim(uat_update_tm))>0)AND(ISNULL(test_finsh_tm)=0) AND  (LENGTH(trim(test_finsh_tm))>0) AND(ISNULL(pre_cur_period)=0) AND  (LENGTH(trim(pre_cur_period))>0)
				OR( ( (ISNULL(prd_finsh_tm)=1) OR (LENGTH(trim(prd_finsh_tm))&lt;1) OR (ISNULL(uat_update_tm)=1) OR  (LENGTH(trim(uat_update_tm))&lt;1) OR (ISNULL(test_finsh_tm)=1) OR (LENGTH(trim(test_finsh_tm))&lt;1) OR(ISNULL(pre_cur_period)=1) OR (LENGTH(trim(pre_cur_period))&lt;1)) AND req_abnor_type NOT LIKE '%01%' ))
			</if>
			<if test='preCurPeriod == "7"'>
				AND req_sts = '30'
			</if>
			<if test='preCurPeriod == "8"'>
				AND req_sts = '40'
			</if>
			<if test='preCurPeriod == "9"'>
				AND pre_cur_period IN ( '10' ) and req_sts not in ( '30', '40' ,'60')
			</if>
			<if test='preCurPeriod == "10"'>
				AND pre_cur_period IN ( '20' ) and req_sts not in ( '30', '40' ,'60')
			</if>
			<if test='preCurPeriod == "11"'>
				AND pre_cur_period IN ( '30' ) and req_sts not in ( '30', '40' ,'60')
			</if>
			<if test='preCurPeriod == "12"'>
				AND pre_cur_period IN ( '150' ) and req_sts not in ( '30', '40' ,'60')
			</if>
			<if test='preCurPeriod == "13"'>
				AND ( prd_finsh_tm &lt; date_format(SYSDATE(),'%Y-%m-%d')   AND 30 > pre_cur_period
				AND req_sts not in ('30','40','60') AND(ISNULL(prd_finsh_tm)=0) AND  (LENGTH(trim(prd_finsh_tm))>0) AND(ISNULL(uat_update_tm)=0) AND  (LENGTH(trim(uat_update_tm))>0)AND(ISNULL(test_finsh_tm)=0) AND  (LENGTH(trim(test_finsh_tm))>0) AND(ISNULL(pre_cur_period)=0) AND  (LENGTH(trim(pre_cur_period))>0)
				OR( ( (ISNULL(prd_finsh_tm)=1) OR (LENGTH(trim(prd_finsh_tm))&lt;1) OR (ISNULL(uat_update_tm)=1) OR  (LENGTH(trim(uat_update_tm))&lt;1) OR (ISNULL(test_finsh_tm)=1) OR (LENGTH(trim(test_finsh_tm))&lt;1) OR(ISNULL(pre_cur_period)=1) OR (LENGTH(trim(pre_cur_period))&lt;1)) AND req_abnor_type LIKE '%03%' ) )
			</if>
			<if test='preCurPeriod == "14"'>
				AND ( pre_cur_period + 0 )&lt;= 110 and req_sts not in ( '30', '40' ,'60')
			</if>
			<if test='preCurPeriod == "15"'>
				AND pre_cur_period in ( '120' , '130' ) and req_sts not in ( '30', '40','60' )
			</if>
			<if test='preCurPeriod == "16"'>
				AND ( pre_cur_period + 0 ) &gt;= 140 and req_sts not in ( '30', '40' ,'60')
			</if>
			<if test='preCurPeriod == "17"'>
				AND ( test_finsh_tm &lt; date_format(SYSDATE(),'%Y-%m-%d')  AND pre_cur_period >= 120 AND  140 > pre_cur_period
				AND req_sts not in ('30','40','60')  AND(ISNULL(prd_finsh_tm)=0) AND  (LENGTH(trim(prd_finsh_tm))>0) AND(ISNULL(uat_update_tm)=0) AND  (LENGTH(trim(uat_update_tm))>0)AND(ISNULL(test_finsh_tm)=0) AND  (LENGTH(trim(test_finsh_tm))>0) AND(ISNULL(pre_cur_period)=0) AND  (LENGTH(trim(pre_cur_period))>0)
				OR( ( (ISNULL(prd_finsh_tm)=1) OR (LENGTH(trim(prd_finsh_tm))&lt;1) OR (ISNULL(uat_update_tm)=1) OR  (LENGTH(trim(uat_update_tm))&lt;1) OR (ISNULL(test_finsh_tm)=1) OR (LENGTH(trim(test_finsh_tm))&lt;1) OR(ISNULL(pre_cur_period)=1) OR (LENGTH(trim(pre_cur_period))&lt;1)) AND req_abnor_type LIKE '%05%' ) )
			</if>
		</where>
	</select>

	<select  id="findNumberByCondition" resultType="int"  parameterType="map">
		SELECT
		count(1)
		FROM t_demand_info
		<where>
			<if test="req_impl_mon != null and req_impl_mon != ''">
				AND req_impl_mon =#{reqImplMon}
			</if>
			<if test="devp_lead_dept != null and devp_lead_dept != ''">
				AND devp_lead_dept = #{devpLeadDept}
			</if>
			<if test="product_mng != null and product_mng != ''">
				AND product_mng LIKE "%"#{productMng}"%"
			</if>
			<if test="test_eng != null and test_eng != ''">
				AND test_eng LIKE "%"#{testEng}"%"
			</if>
			<if test="devp_eng != null and devp_eng != ''">
				AND (devp_eng LIKE "%"#{devpEng}"%" or project_mng LIKE "%"#{devpEng}"%")
			</if>
			<if test='pre_cur_period == "1"'>
				AND pre_cur_period IN ( '10', '20', '30' ) and req_sts not in ( '30', '40' ,'60')
			</if>
			<if test='pre_cur_period == "2"'>
				AND pre_cur_period IN ( '40', '50', '80', '90', '100', '110' ) and req_sts not in ( '30', '40' ,'60')
			</if>
			<if test='pre_cur_period == "3"'>
				AND pre_cur_period IN ( '60', '70', '120', '130', '140' ) and req_sts not in ( '30', '40','60' )
			</if>
			<if test='pre_cur_period == "4"'>
				AND pre_cur_period IN ( '150', '160', '170' ) and req_sts not in ( '30', '40','60' )
			</if>
			<if test='pre_cur_period == "5"'>
				AND pre_cur_period = '180' and req_sts not in ( '30', '40','60' )
			</if>
			<if test='pre_cur_period == "6" and req_abnor_type != null and req_abnor_type != ""'>
				AND ( uat_update_tm &lt; date_format(SYSDATE(),'%Y-%m-%d')  AND pre_cur_period >= 30 AND  120 > pre_cur_period
				AND req_sts not in ('30','40','60')  AND(ISNULL(prd_finsh_tm)=0) AND  (LENGTH(trim(prd_finsh_tm))>0) AND(ISNULL(uat_update_tm)=0) AND  (LENGTH(trim(uat_update_tm))>0)AND(ISNULL(test_finsh_tm)=0) AND  (LENGTH(trim(test_finsh_tm))>0) AND(ISNULL(pre_cur_period)=0) AND  (LENGTH(trim(pre_cur_period))>0)
				OR( ( (ISNULL(prd_finsh_tm)=1) OR (LENGTH(trim(prd_finsh_tm))&lt;1) OR (ISNULL(uat_update_tm)=1) OR  (LENGTH(trim(uat_update_tm))&lt;1) OR (ISNULL(test_finsh_tm)=1) OR (LENGTH(trim(test_finsh_tm))&lt;1) OR(ISNULL(pre_cur_period)=1) OR (LENGTH(trim(pre_cur_period))&lt;1)) AND req_abnor_type LIKE '%04%' ) )
			</if>
			<if test='pre_cur_period == "6" and (req_abnor_type == null or req_abnor_type == "")'>
				AND ( ( (prd_finsh_tm &lt; date_format(SYSDATE(),'%Y-%m-%d')  AND 30 > pre_cur_period )
				OR (uat_update_tm &lt; date_format(SYSDATE(),'%Y-%m-%d')  AND pre_cur_period >= 30 AND  120 > pre_cur_period )
				OR (test_finsh_tm &lt; date_format(SYSDATE(),'%Y-%m-%d')  AND pre_cur_period >= 120 AND  140 > pre_cur_period ) )
				AND req_sts not in ('30','40','60')
				AND(ISNULL(prd_finsh_tm)=0) AND  (LENGTH(trim(prd_finsh_tm))>0) AND(ISNULL(uat_update_tm)=0) AND  (LENGTH(trim(uat_update_tm))>0)AND(ISNULL(test_finsh_tm)=0) AND  (LENGTH(trim(test_finsh_tm))>0) AND(ISNULL(pre_cur_period)=0) AND  (LENGTH(trim(pre_cur_period))>0)
				OR( ( (ISNULL(prd_finsh_tm)=1) OR (LENGTH(trim(prd_finsh_tm))&lt;1) OR (ISNULL(uat_update_tm)=1) OR  (LENGTH(trim(uat_update_tm))&lt;1) OR (ISNULL(test_finsh_tm)=1) OR (LENGTH(trim(test_finsh_tm))&lt;1) OR(ISNULL(pre_cur_period)=1) OR (LENGTH(trim(pre_cur_period))&lt;1)) AND req_abnor_type NOT LIKE '%01%' ))
			</if>
			<if test='pre_cur_period == "7"'>
				AND req_sts = '30'
			</if>
			<if test='pre_cur_period == "8"'>
				AND req_sts = '40'
			</if>
			<if test='pre_cur_period == "9"'>
				AND pre_cur_period IN ( '10' ) and req_sts not in ( '30', '40' ,'60')
			</if>
			<if test='pre_cur_period == "10"'>
				AND pre_cur_period IN ( '20' ) and req_sts not in ( '30', '40' ,'60')
			</if>
			<if test='pre_cur_period == "11"'>
				AND pre_cur_period IN ( '30' ) and req_sts not in ( '30', '40' ,'60')
			</if>
			<if test='pre_cur_period == "12"'>
				AND pre_cur_period IN ( '150' ) and req_sts not in ( '30', '40','60' )
			</if>
			<if test='pre_cur_period == "13"'>
				AND ( prd_finsh_tm &lt; date_format(SYSDATE(),'%Y-%m-%d')   AND 30 > pre_cur_period
				AND req_sts not in ('30','40','60') AND(ISNULL(prd_finsh_tm)=0) AND  (LENGTH(trim(prd_finsh_tm))>0) AND(ISNULL(uat_update_tm)=0) AND  (LENGTH(trim(uat_update_tm))>0)AND(ISNULL(test_finsh_tm)=0) AND  (LENGTH(trim(test_finsh_tm))>0) AND(ISNULL(pre_cur_period)=0) AND  (LENGTH(trim(pre_cur_period))>0)
				OR( ( (ISNULL(prd_finsh_tm)=1) OR (LENGTH(trim(prd_finsh_tm))&lt;1) OR (ISNULL(uat_update_tm)=1) OR  (LENGTH(trim(uat_update_tm))&lt;1) OR (ISNULL(test_finsh_tm)=1) OR (LENGTH(trim(test_finsh_tm))&lt;1) OR(ISNULL(pre_cur_period)=1) OR (LENGTH(trim(pre_cur_period))&lt;1)) AND req_abnor_type LIKE '%03%' ) )
			</if>
			<if test='pre_cur_period == "14"'>
				AND ( pre_cur_period + 0 ) &lt;= 110 and req_sts not in ( '30', '40','60' )
			</if>
			<if test='pre_cur_period == "15"'>
				AND pre_cur_period in ( '120' , '130' ) and req_sts not in ( '30', '40' ,'60')
			</if>
			<if test='pre_cur_period == "16"'>
				AND ( pre_cur_period + 0 ) &gt;= 140 and req_sts not in ( '30', '40' ,'60')
			</if>
			<if test='pre_cur_period == "17"'>
				AND ( test_finsh_tm &lt; date_format(SYSDATE(),'%Y-%m-%d')  AND pre_cur_period >= 120 AND  140 > pre_cur_period
				AND req_sts not in ('30','40','60')  AND(ISNULL(prd_finsh_tm)=0) AND  (LENGTH(trim(prd_finsh_tm))>0) AND(ISNULL(uat_update_tm)=0) AND  (LENGTH(trim(uat_update_tm))>0)AND(ISNULL(test_finsh_tm)=0) AND  (LENGTH(trim(test_finsh_tm))>0) AND(ISNULL(pre_cur_period)=0) AND  (LENGTH(trim(pre_cur_period))>0)
				OR( ( (ISNULL(prd_finsh_tm)=1) OR (LENGTH(trim(prd_finsh_tm))&lt;1) OR (ISNULL(uat_update_tm)=1) OR  (LENGTH(trim(uat_update_tm))&lt;1) OR (ISNULL(test_finsh_tm)=1) OR (LENGTH(trim(test_finsh_tm))&lt;1) OR(ISNULL(pre_cur_period)=1) OR (LENGTH(trim(pre_cur_period))&lt;1)) AND req_abnor_type LIKE '%05%' ) )
			</if>
		</where>
	</select>

	<select id="selectByCenter" resultMap="rt" parameterType="map">
		SELECT
			count(*) total,
			sum( CASE WHEN pre_cur_period IN ( '10', '20', '30' ) and req_sts not in ( '30', '40','60' ) THEN 1 ELSE 0 END ) req_prd,
			sum( CASE WHEN pre_cur_period IN ( '40', '50', '80', '90', '100', '110' ) and req_sts not in ( '30', '40' ,'60') THEN 1 ELSE 0 END ) req_devp,
			sum( CASE WHEN pre_cur_period IN ( '60', '70', '120', '130', '140' ) and req_sts not in ( '30', '40','60' ) THEN 1 ELSE 0 END ) req_test,
			sum( CASE WHEN pre_cur_period IN ( '150', '160', '170' ) and req_sts not in ( '30', '40','60' ) THEN 1 ELSE 0 END ) req_pre,
			sum( CASE WHEN pre_cur_period = '180' and req_sts not in ( '30', '40' ,'60') THEN 1 ELSE 0 END ) req_oper,
			<if test="reqAbnorType != null and reqAbnorType != ''">
				sum( CASE WHEN ( uat_update_tm &lt; date_format(SYSDATE(),'%Y-%m-%d')  AND pre_cur_period >= 30 AND  120 > pre_cur_period
				AND req_sts not in ('30','40','60')  AND(ISNULL(prd_finsh_tm)=0) AND  (LENGTH(trim(prd_finsh_tm))>0) AND(ISNULL(uat_update_tm)=0) AND  (LENGTH(trim(uat_update_tm))>0)AND(ISNULL(test_finsh_tm)=0) AND  (LENGTH(trim(test_finsh_tm))>0) AND(ISNULL(pre_cur_period)=0) AND  (LENGTH(trim(pre_cur_period))>0)
				OR( ( (ISNULL(prd_finsh_tm)=1) OR (LENGTH(trim(prd_finsh_tm))&lt;1) OR (ISNULL(uat_update_tm)=1) OR  (LENGTH(trim(uat_update_tm))&lt;1) OR (ISNULL(test_finsh_tm)=1) OR (LENGTH(trim(test_finsh_tm))&lt;1) OR(ISNULL(pre_cur_period)=1) OR (LENGTH(trim(pre_cur_period))&lt;1)) AND req_abnor_type LIKE '%04%' ) ) THEN 1 ELSE 0 END ) req_abnormal,
			</if>
			<if test="reqAbnorType == null or reqAbnorType == ''">
				sum( CASE WHEN ( ( (prd_finsh_tm &lt; date_format(SYSDATE(),'%Y-%m-%d')  AND 30 > pre_cur_period )
				OR (uat_update_tm &lt; date_format(SYSDATE(),'%Y-%m-%d')  AND pre_cur_period >= 30 AND  120 > pre_cur_period )
				OR (test_finsh_tm &lt; date_format(SYSDATE(),'%Y-%m-%d')  AND pre_cur_period >= 120 AND  140 > pre_cur_period ) )
				AND req_sts not in ('30','40','60')
				AND(ISNULL(prd_finsh_tm)=0) AND  (LENGTH(trim(prd_finsh_tm))>0) AND(ISNULL(uat_update_tm)=0) AND  (LENGTH(trim(uat_update_tm))>0)AND(ISNULL(test_finsh_tm)=0) AND  (LENGTH(trim(test_finsh_tm))>0) AND(ISNULL(pre_cur_period)=0) AND  (LENGTH(trim(pre_cur_period))>0)
				OR( ( (ISNULL(prd_finsh_tm)=1) OR (LENGTH(trim(prd_finsh_tm))&lt;1) OR (ISNULL(uat_update_tm)=1) OR  (LENGTH(trim(uat_update_tm))&lt;1) OR (ISNULL(test_finsh_tm)=1) OR (LENGTH(trim(test_finsh_tm))&lt;1) OR(ISNULL(pre_cur_period)=1) OR (LENGTH(trim(pre_cur_period))&lt;1)) AND req_abnor_type NOT LIKE '%01%' )) THEN 1 ELSE 0 END ) req_abnormal,
			</if>
			sum( CASE WHEN req_sts = '30' THEN 1 ELSE 0 END ) req_cancel,
			sum( CASE WHEN req_sts = '40' THEN 1 ELSE 0 END ) req_suspend
		FROM
			t_demand_info
		<where>
			<if test="reqImplMon != null and reqImplMon != ''">
				AND req_impl_mon =#{reqImplMon}
			</if>
			<if test="devpLeadDept != null and devpLeadDept != ''">
				AND devp_lead_dept = #{devpLeadDept}
			</if>
			<if test="devpEng != null and devpEng != ''">
				AND (devp_eng LIKE CONCAT('%',#{devpEng},'%') or project_mng LIKE CONCAT('%',#{devpEng},'%'))
			</if>
		</where>
	</select>

	<select id="selectByProduct" resultMap="rt" parameterType="map">
		SELECT
			count(*) total,
			sum( CASE WHEN pre_cur_period IN ( '10' ) and req_sts not in ( '30', '40' ,'60') THEN 1 ELSE 0 END ) req_prd,
			sum( CASE WHEN pre_cur_period IN ( '20' ) and req_sts not in ( '30', '40' ,'60') THEN 1 ELSE 0 END ) req_devp,
			sum( CASE WHEN pre_cur_period IN ( '30' ) and req_sts not in ( '30', '40' ,'60') THEN 1 ELSE 0 END ) req_test,
			sum( CASE WHEN pre_cur_period IN ( '150' ) and req_sts not in ( '30', '40' ,'60') THEN 1 ELSE 0 END ) req_pre,
			sum( CASE WHEN req_abnor_type LIKE "%03%" and req_sts not in ( '30', '40','60' ) THEN 1 ELSE 0 END ) req_abnormal,
			sum( CASE WHEN req_sts = '30' THEN 1 ELSE 0 END ) req_cancel,
			sum( CASE WHEN req_sts = '40' THEN 1 ELSE 0 END ) req_suspend
		FROM
			t_demand_info
		<where>
			<if test="req_impl_mon != null and req_impl_mon != ''">
				AND req_impl_mon =#{reqImplMon}
			</if>
			<if test="product_mng != null and product_mng != ''">
				AND product_mng LIKE "%"#{productMng}"%"
			</if>
		</where>
	</select>

	<select id="selectByTest" resultMap="rt" parameterType="map">
		SELECT
			count(*) total,
			sum( CASE WHEN ( pre_cur_period + 0 ) &lt;= 110 and req_sts not in ( '30', '40' ,'60') THEN 1 ELSE 0 END ) req_prd,
			sum( CASE WHEN pre_cur_period in ( '120' , '130' ) and req_sts not in ( '30', '40','60' ) THEN 1 ELSE 0 END ) req_devp,
			sum( CASE WHEN ( pre_cur_period + 0 ) &gt;= 140 and req_sts not in ( '30', '40' ,'60') THEN 1 ELSE 0 END ) req_test,
			sum( CASE WHEN req_abnor_type LIKE "%05%" and req_sts not in ( '30', '40' ,'60') THEN 1 ELSE 0 END ) req_abnormal,
			sum( CASE WHEN req_sts = '30' THEN 1 ELSE 0 END ) req_cancel,
			sum( CASE WHEN req_sts = '40' THEN 1 ELSE 0 END ) req_suspend
		FROM
			t_demand_info
		<where>
			<if test="req_impl_mon != null and req_impl_mon != ''">
				AND req_impl_mon =#{reqImplMon}
			</if>
			<if test="test_eng != null and test_eng != ''">
				AND test_eng LIKE "%"#{testEng}"%"
			</if>
		</where>
	</select>

	<select id="selectByEng" resultMap="rt" parameterType="map">

	</select>

</mapper>
