<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.lemon.monitor.dao.ISupportWorkloadExtDao" >
    <resultMap id="BaseResultMap" type="com.cmpay.lemon.monitor.entity.SupportWorkloadDO" >
        <id column="documentNumber" property="documentnumber" jdbcType="VARCHAR" />
        <result column="processStartDate" property="processstartdate" jdbcType="VARCHAR" />
        <result column="productManagementDepartment" property="productmanagementdepartment" jdbcType="VARCHAR" />
        <result column="productOwner" property="productowner" jdbcType="VARCHAR" />
        <result column="supportingManufacturerProducts" property="supportingmanufacturerproducts" jdbcType="VARCHAR" />
        <result column="supportTheTopic" property="supportthetopic" jdbcType="VARCHAR" />
        <result column="contentDescription" property="contentdescription" jdbcType="VARCHAR" />
        <result column="functionPointsDetail" property="functionpointsdetail" jdbcType="VARCHAR" />
        <result column="proposalTime" property="proposaltime" jdbcType="VARCHAR" />
        <result column="completionTime" property="completiontime" jdbcType="VARCHAR" />
        <result column="supportManager" property="supportmanager" jdbcType="VARCHAR" />
        <result column="supportWorkload" property="supportworkload" jdbcType="VARCHAR" />
        <result column="finalWorkload" property="finalworkload" jdbcType="VARCHAR" />
        <result column="supportingManufacturers" property="supportingmanufacturers" jdbcType="VARCHAR" />
        <result column="costDepartment" property="costdepartment" jdbcType="VARCHAR" />
        <result column="firstLevelOrganization" property="firstLevelOrganization" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="reqImplMon" property="reqImplMon" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        documentNumber, processStartDate, productManagementDepartment, productOwner, supportingManufacturerProducts,
        supportTheTopic, contentDescription, functionPointsDetail, proposalTime, completionTime,
        supportManager, supportWorkload, finalWorkload, supportingManufacturers, costDepartment,
        firstLevelOrganization, remark,reqImplMon
    </sql>

    <select id="findList" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.SupportWorkloadDO" >
        select
        <include refid="Base_Column_List" />
        from t_support_workload a
        <where >
            <if test="documentnumber != null and documentnumber != ''" >
                and a.documentNumber LIKE CONCAT('%',#{documentnumber,jdbcType=VARCHAR},'%')
            </if>
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''  ">
                and substr(a.processStartDate,1,10) between #{startTime} and #{endTime}
            </if>
            <if test="reqImplMon != null and reqImplMon != ''" >
                and a.reqImplMon = #{reqImplMon,jdbcType=VARCHAR}
            </if>
            <if test="processstartdate != null and processstartdate != ''" >
                and substr(a.processStartDate,1,10) = #{processstartdate,jdbcType=VARCHAR}
            </if>
            <if test="productmanagementdepartment != null and productmanagementdepartment != ''" >
                and a.productManagementDepartment = #{productmanagementdepartment,jdbcType=VARCHAR}
            </if>
            <if test="productowner != null and productowner != ''" >
                and a.productOwner = #{productowner,jdbcType=VARCHAR}
            </if>
            <if test="supportingmanufacturerproducts != null and supportingmanufacturerproducts != ''" >
                and a.supportingManufacturerProducts = #{supportingmanufacturerproducts,jdbcType=VARCHAR}
            </if>
            <if test="supportthetopic != null and supportthetopic != ''" >
                and a.supportTheTopic LIKE CONCAT('%',#{supportthetopic,jdbcType=VARCHAR},'%')
            </if>
            <if test="contentdescription != null and contentdescription != ''" >
                and a.contentDescription = #{contentdescription,jdbcType=VARCHAR}
            </if>
            <if test="functionpointsdetail != null and functionpointsdetail != ''" >
                and a.functionPointsDetail = #{functionpointsdetail,jdbcType=VARCHAR}
            </if>
            <if test="proposaltime != null and proposaltime != ''" >
                and a.proposalTime = #{proposaltime,jdbcType=VARCHAR}
            </if>
            <if test="completiontime != null and completiontime != ''" >
                and a.completionTime = #{completiontime,jdbcType=VARCHAR}
            </if>
            <if test="supportmanager != null and supportmanager != ''" >
                and a.supportManager = #{supportmanager,jdbcType=VARCHAR}
            </if>
            <if test="supportworkload != null and supportworkload != ''" >
                and a.supportWorkload = #{supportworkload,jdbcType=VARCHAR}
            </if>
            <if test="finalworkload != null and finalworkload != ''" >
                and a.finalWorkload = #{finalworkload,jdbcType=VARCHAR}
            </if>
            <if test="supportingmanufacturers != null and supportingmanufacturers != ''" >
                and a.supportingManufacturers = #{supportingmanufacturers,jdbcType=VARCHAR}
            </if>
            <if test="costdepartment != null and costdepartment != ''" >
                and a.costDepartment = #{costdepartment,jdbcType=VARCHAR}
            </if>
            <if test="firstLevelOrganization != null and firstLevelOrganization != ''" >
                and a.firstLevelOrganization = #{firstLevelOrganization,jdbcType=VARCHAR}
            </if>
            <if test="remark != null and remark != ''" >
                and a.remark = #{remark,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="supportWorkloadCountForDevp" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.SupportWorkloadDO" >
        select
        firstLevelOrganization,
        sum( cast(a.finalWorkload AS DECIMAL (5, 2))) finalWorkload
        from t_support_workload a
        <where >
            <if test="reqImplMon != null and reqImplMon != ''" >
                and a.reqImplMon = #{reqImplMon,jdbcType=VARCHAR}
            </if>
        </where>
        GROUP BY firstLevelOrganization
    </select>


    <select id="supportWorkloadCountForDevp2" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.SupportWorkloadDO" >
        select
        secondLevelOrganization,
         sum(a.finalWorkload) finalWorkload
        from t_support_workload a
        <where >
            <if test="reqImplMon != null and reqImplMon != ''" >
                and a.reqImplMon = #{reqImplMon,jdbcType=VARCHAR}
            </if>
        </where>
        GROUP BY secondLevelOrganization
    </select>
</mapper>
