<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.lemon.monitor.dao.IWorkingHoursDao" >

    <resultMap id="BaseResultMap" type="com.cmpay.lemon.monitor.entity.WorkingHoursDO" >
        <id column="jiraWorklogKey" property="jiraworklogkey" jdbcType="VARCHAR" />
        <result column="issuekey" property="issuekey" jdbcType="VARCHAR" />
        <result column="timeSpnet" property="timespnet" jdbcType="VARCHAR" />
        <result column="subtaskName" property="subtaskname" jdbcType="VARCHAR" />
        <result column="assignment_department" property="assignmentDepartment" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="displayName" property="displayname" jdbcType="VARCHAR" />
        <result column="devp_lead_dept" property="devpLeadDept" jdbcType="VARCHAR" />
        <result column="comment" property="comment" jdbcType="VARCHAR" />
        <result column="createdTime" property="createdtime" jdbcType="VARCHAR" />
        <result column="startedTime" property="startedtime" jdbcType="VARCHAR" />
        <result column="updatedTime" property="updatedtime" jdbcType="VARCHAR" />
        <result column="sumTime" property="sumTime" jdbcType="VARCHAR" />
        <result column="selectTime" property="selectTime" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        jiraWorklogKey, issuekey, timeSpnet, subtaskName, assignment_department, name, displayName, 
        devp_lead_dept, comment, createdTime, startedTime, updatedTime
    </sql>

    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from t_working_hours
        where jiraWorklogKey = #{jiraworklogkey,jdbcType=VARCHAR}
    </select>

    <delete id="delete" parameterType="java.lang.String" >
        delete from t_working_hours
        where jiraWorklogKey = #{jiraworklogkey,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.cmpay.lemon.monitor.entity.WorkingHoursDO" >
        insert into t_working_hours
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="jiraworklogkey != null" >
                jiraWorklogKey,
            </if>
            <if test="issuekey != null" >
                issuekey,
            </if>
            <if test="timespnet != null" >
                timeSpnet,
            </if>
            <if test="subtaskname != null" >
                subtaskName,
            </if>
            <if test="assignmentDepartment != null" >
                assignment_department,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="displayname != null" >
                displayName,
            </if>
            <if test="devpLeadDept != null" >
                devp_lead_dept,
            </if>
            <if test="comment != null" >
                comment,
            </if>
            <if test="createdtime != null" >
                createdTime,
            </if>
            <if test="startedtime != null" >
                startedTime,
            </if>
            <if test="updatedtime != null" >
                updatedTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="jiraworklogkey != null" >
                #{jiraworklogkey,jdbcType=VARCHAR},
            </if>
            <if test="issuekey != null" >
                #{issuekey,jdbcType=VARCHAR},
            </if>
            <if test="timespnet != null" >
                #{timespnet,jdbcType=VARCHAR},
            </if>
            <if test="subtaskname != null" >
                #{subtaskname,jdbcType=VARCHAR},
            </if>
            <if test="assignmentDepartment != null" >
                #{assignmentDepartment,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="displayname != null" >
                #{displayname,jdbcType=VARCHAR},
            </if>
            <if test="devpLeadDept != null" >
                #{devpLeadDept,jdbcType=VARCHAR},
            </if>
            <if test="comment != null" >
                #{comment,jdbcType=VARCHAR},
            </if>
            <if test="createdtime != null" >
                #{createdtime,jdbcType=VARCHAR},
            </if>
            <if test="startedtime != null" >
                #{startedtime,jdbcType=VARCHAR},
            </if>
            <if test="updatedtime != null" >
                #{updatedtime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.cmpay.lemon.monitor.entity.WorkingHoursDO" >
        update t_working_hours
        <set >
            <if test="issuekey != null" >
                issuekey = #{issuekey,jdbcType=VARCHAR},
            </if>
            <if test="timespnet != null" >
                timeSpnet = #{timespnet,jdbcType=VARCHAR},
            </if>
            <if test="subtaskname != null" >
                subtaskName = #{subtaskname,jdbcType=VARCHAR},
            </if>
            <if test="assignmentDepartment != null" >
                assignment_department = #{assignmentDepartment,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="displayname != null" >
                displayName = #{displayname,jdbcType=VARCHAR},
            </if>
            <if test="devpLeadDept != null" >
                devp_lead_dept = #{devpLeadDept,jdbcType=VARCHAR},
            </if>
            <if test="comment != null" >
                comment = #{comment,jdbcType=VARCHAR},
            </if>
            <if test="createdtime != null" >
                createdTime = #{createdtime,jdbcType=VARCHAR},
            </if>
            <if test="startedtime != null" >
                startedTime = #{startedtime,jdbcType=VARCHAR},
            </if>
            <if test="updatedtime != null" >
                updatedTime = #{updatedtime,jdbcType=VARCHAR},
            </if>
        </set>
        where jiraWorklogKey = #{jiraworklogkey,jdbcType=VARCHAR}
    </update>

    <select id="find" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.WorkingHoursDO" >
        select 
        <include refid="Base_Column_List" />
        from t_working_hours
        <where >
            <if test="jiraworklogkey != null" >
                and jiraWorklogKey = #{jiraworklogkey,jdbcType=VARCHAR}
            </if>
            <if test="issuekey != null" >
                and issuekey = #{issuekey,jdbcType=VARCHAR}
            </if>
            <if test="timespnet != null" >
                and timeSpnet = #{timespnet,jdbcType=VARCHAR}
            </if>
            <if test="subtaskname != null" >
                and subtaskName = #{subtaskname,jdbcType=VARCHAR}
            </if>
            <if test="assignmentDepartment != null" >
                and assignment_department = #{assignmentDepartment,jdbcType=VARCHAR}
            </if>
            <if test="name != null" >
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="displayname != null" >
                and displayName = #{displayname,jdbcType=VARCHAR}
            </if>
            <if test="devpLeadDept != null" >
                and devp_lead_dept = #{devpLeadDept,jdbcType=VARCHAR}
            </if>
            <if test="comment != null" >
                and comment = #{comment,jdbcType=VARCHAR}
            </if>
            <if test="createdtime != null" >
                and createdTime = #{createdtime,jdbcType=VARCHAR}
            </if>
            <if test="startedtime != null" >
                and startedTime = #{startedtime,jdbcType=VARCHAR}
            </if>
            <if test="updatedtime != null" >
                and updatedTime = #{updatedtime,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="findSum" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.WorkingHoursDO" >
        select a.fullname displayName,
        IFNULL(sum(b.timeSpnet),0) AS sumTime,
        department  devp_lead_dept
        from sys_user a left join t_working_hours b
        on a.fullname=b.displayName
        and b.createdTime=b.updatedTime
        and LEFT(B.createdTime,10)= #{selectTime,jdbcType=VARCHAR}
        <where >
            <if test="devpLeadDept != null and devpLeadDept != ''" >
                and department = #{devpLeadDept,jdbcType=VARCHAR}
            </if>
        </where>
        group by a.fullname
    </select>
    <select id="findList" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.WorkingHoursDO" >
        select
        <include refid="Base_Column_List" />
        from t_working_hours
        <where >
            createdTime=updatedTime
            <if test="displayname != null||displayname != ''" >
                and displayName = #{displayname,jdbcType=VARCHAR}
            </if>
            <if test="createdtime != null||createdtime != ''" >
                and LEFT(createdTime,10) = #{selectTime,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>