<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.lemon.monitor.dao.IWorkingHoursExtDao" >

    <resultMap id="BaseResultMap" type="com.cmpay.lemon.monitor.entity.WorkingHoursDO" >
        <id column="jiraWorklogKey" property="jiraworklogkey" jdbcType="VARCHAR" />
        <result column="issuekey" property="issuekey" jdbcType="VARCHAR" />
        <result column="timeSpnet" property="timespnet" jdbcType="VARCHAR" />
        <result column="subtaskName" property="subtaskname" jdbcType="VARCHAR" />
        <result column="assignment_department" property="assignmentDepartment" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="displayName" property="displayname" jdbcType="VARCHAR" />
        <result column="devp_lead_dept" property="devpLeadDept" jdbcType="VARCHAR" />
        <result column="comment" property="comment" jdbcType="VARCHAR" />
        <result column="createdTime" property="createdtime" jdbcType="VARCHAR" />
        <result column="startedTime" property="startedtime" jdbcType="VARCHAR" />
        <result column="updatedTime" property="updatedtime" jdbcType="VARCHAR" />
        <result column="sumTime" property="sumTime" jdbcType="VARCHAR" />
        <result column="selectTime" property="selectTime" jdbcType="VARCHAR" />
        <result column="sumDept" property="sumDept" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="sm" type="com.cmpay.lemon.monitor.entity.DepartmentWorkDO">
        <result property="department"         jdbcType="VARCHAR"      column="department"/>
        <result property="yingHours"         jdbcType="VARCHAR"      column="yingHours"/>
        <result property="daHours"         jdbcType="VARCHAR"      column="daHours"/>
        <result property="xiaoHours"         jdbcType="VARCHAR"      column="xiaoHours"/>
        <result property="weiHours"  jdbcType="VARCHAR"      column="weiHours"/>
    </resultMap>

    <sql id="Base_Column_List" >
        jiraWorklogKey, issuekey, timeSpnet, subtaskName, assignment_department, name, displayName,
        devp_lead_dept, comment, createdTime, startedTime, updatedTime
    </sql>

    <sql id="Base_Column_ListB" >
        jiraWorklogKey, issuekey, subtaskName, assignment_department, name, displayName,
        devp_lead_dept, comment, createdTime, startedTime, updatedTime
    </sql>

    <select id="findSum" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.WorkingHoursDO" >
        select a.fullname displayName,
        IFNULL(sum(b.timeSpnet),0) AS sumTime,
        department  devp_lead_dept
        from sys_user a left join t_working_hours b
        on a.fullname=b.displayName
        and LEFT(b.startedTime,10)= #{selectTime,jdbcType=VARCHAR}
        <where>
            <if test="devpLeadDept != null and devpLeadDept != ''" >
                and department = #{devpLeadDept,jdbcType=VARCHAR}
            </if>
        </where>
        group by a.fullname
    </select>
    <select id="findWeekSum" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.WorkingHoursDO" >
        select a.fullname displayName,
        IFNULL(sum(b.timeSpnet),0) AS sumTime,
        department  devp_lead_dept
        from sys_user a left join t_working_hours b
        on a.fullname=b.displayName
        and YEARWEEK(date_format(b.startedTime,'%Y-%m-%d')) = YEARWEEK(#{selectTime,jdbcType=VARCHAR})
        <where >
            <if test="devpLeadDept != null and devpLeadDept != ''" >
                and department = #{devpLeadDept,jdbcType=VARCHAR}
            </if>
        </where>
        group by a.fullname
    </select>
    <select id="findMonthSum" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.WorkingHoursDO" >
        select a.fullname displayName,
        IFNULL(sum(b.timeSpnet),0) AS sumTime,
        department  devp_lead_dept
        from sys_user a left join t_working_hours b
        on a.fullname=b.displayName
        and LEFT(b.startedTime,10) like CONCAT('%',#{selectTime},'%')
        <where >
            <if test="devpLeadDept != null and devpLeadDept != ''" >
                and department = #{devpLeadDept,jdbcType=VARCHAR}
            </if>
        </where>
        group by a.fullname
    </select>
    <select id="findSumB" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.WorkingHoursDO" >
        select
        sum(1) sumDept ,sum(c.sumTime) sumTime  from
        (
        select a.fullname displayName,
        IFNULL(sum(b.timeSpnet),0) AS sumTime,
        department devp_lead_dept
        from sys_user a left join t_working_hours b
        on a.fullname=b.displayName
        and LEFT(b.startedTime,10)= #{selectTime,jdbcType=VARCHAR}
        <where>
            <if test="devpLeadDept != null and devpLeadDept != ''">
                and department = #{devpLeadDept,jdbcType=VARCHAR}
            </if>
        </where>
        group by a.fullname
        ) c
    </select>
    <select id="findWeekSumB" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.WorkingHoursDO" >
        select
        sum(1) sumDept ,sum(c.sumTime) sumTime  from
        (
        select a.fullname displayName,
        IFNULL(sum(b.timeSpnet),0) AS sumTime,
        department devp_lead_dept
        from sys_user a left join t_working_hours b
        on a.fullname=b.displayName
        and YEARWEEK(date_format(b.startedTime,'%Y-%m-%d')) = YEARWEEK(#{selectTime,jdbcType=VARCHAR})
        <where>
            <if test="devpLeadDept != null and devpLeadDept != ''">
                and department = #{devpLeadDept,jdbcType=VARCHAR}
            </if>
        </where>
        group by a.fullname
        ) c
    </select>
    <select id="findMonthSumB" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.WorkingHoursDO" >
        select
        sum(1) sumDept ,sum(c.sumTime) sumTime   from
        (
        select a.fullname displayName,
        IFNULL(sum(b.timeSpnet),0) AS sumTime,
        department  devp_lead_dept
        from sys_user a left join t_working_hours b
        on a.fullname=b.displayName
        and LEFT(b.startedTime,10) like CONCAT('%',#{selectTime},'%')
        <where >
            <if test="devpLeadDept != null and devpLeadDept != ''" >
                and department = #{devpLeadDept,jdbcType=VARCHAR}
            </if>
        </where>
        group by a.fullname
        ) c
    </select>
    <select id="findList" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.WorkingHoursDO" >
        select
        sum(timeSpnet) timeSpnet ,
        <include refid="Base_Column_ListB" />
        from
        (select
        <include refid="Base_Column_List" />
        from t_working_hours
        <where >
            <if test="displayname != null||displayname != ''" >
                and displayName = #{displayname,jdbcType=VARCHAR}
            </if>
            <if test="startedtime != null||startedtime != ''" >
                and LEFT(startedTime,10) = #{selectTime,jdbcType=VARCHAR}
            </if>
        </where> )c GROUP BY c.issuekey
    </select>

    <select id="findListWeek" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.WorkingHoursDO" >
        select
        sum(timeSpnet) timeSpnet ,
        <include refid="Base_Column_ListB" />
        from
        (
        select
        <include refid="Base_Column_List" />
        from t_working_hours
        <where >
            <if test="displayname != null||displayname != ''" >
                and displayName = #{displayname,jdbcType=VARCHAR}
            </if>
            <if test="startedtime != null||startedtime != ''" >
                and YEARWEEK(date_format(startedTime,'%Y-%m-%d')) = YEARWEEK(#{selectTime,jdbcType=VARCHAR})
            </if>
        </where>
        )c GROUP BY c.issuekey
    </select>
    <select id="findListMonth" resultMap="BaseResultMap" parameterType="com.cmpay.lemon.monitor.entity.WorkingHoursDO" >
        select
        sum(timeSpnet) timeSpnet ,
        <include refid="Base_Column_ListB" />
        from
        (
        select
        <include refid="Base_Column_List" />
        from t_working_hours
        <where >
            <if test="displayname != null||displayname != ''" >
                and displayName = #{displayname,jdbcType=VARCHAR}
            </if>
            <if test="startedtime != null||startedtime != ''" >
                and LEFT(startedTime,10)  like CONCAT('%',#{selectTime},'%')
            </if>
        </where>
        )c GROUP BY c.issuekey
    </select>

    <select id="findDeptHours" resultMap="sm" parameterType="java.lang.String"  >
        select c.department  department,
        c.ytb yingHours,
        c.deight daHours,
        c.xeight xiaoHours,
        c.ytb-c.deight-c.xeight weiHours
        from
        (select b.department,
        count(b.fullname) ytb,
        count(case when a.totaltime>=28800 then 1 else null end)   deight,
        count(case when 28800 > a.totaltime then 1 else null end)  xeight
        from sys_user b left join
        (select sum(timeSpnet) totaltime,displayName,assignment_department from t_working_hours where LEFT(startedTime,10) = #{selectTime} GROUP BY displayName) a
        on b.fullname=a.displayName
        group by b.department ) c
    </select>
</mapper>
